<app-header></app-header>
<div id="careers-page-banner" style="background: url(./assets/careers-assets/Careers.jpg);background-repeat: no-repeat;background-size: cover;">
    <div class="vertical-align">
        <div class="wrapper text">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="bounceInUp">Careers</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-banner" style="border-top: 5px solid #d97b66;background: url(./assets/careers-assets/PolaritysMission.jpg);background-repeat: no-repeat;background-size: cover">
    <div class="vertical-align">
        <div class="wrapper text">
            <div class="col-md-12 col-lg-12 col-xl-8 offset-xl-2">
                <div class="text">
                    <h2>PolarityTE’s mission is to become a leader in the regenerative medicine and biotechnology industries.</h2>
                    <p>To achieve this goal, PolarityTE recognizes that success begins with the vitality and talents of the employees, individually and collectively, who work at PolarityTE. We are always looking for talented professionals to join our team.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="current-openings">
    <div class="head-lists">
        <div class="vertical-align">
            <div class="wrapper">
                <div class="listing-link row">
                    <div class="col-xs-12 col-md-6">
                        <p id="heading-career">Current Openings</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="toggle">
            <div class="job-lists">
                <div id="BambooHR">
                   
                     </div>
            </div>
        </div>
    </div>
</div>
<div class="page-banner" style="background: url(./assets/careers-assets/DontSeePositionListed.jpg);background-repeat: no-repeat;background-size: cover">
    <div class="vertical-align">
        <div class="wrapper text">
            <div class="col-md-12 col-lg-12 col-xl-8 offset-xl-2">
                <div class="text">
                    <h2>Don't see your position listed?</h2> <a><button class="btn" routerLink="/contact" pageScroll [pageScrollSpeed]="3000" href='#row-contact-forms' (click)="goToContact('contact')">Contact HR</button></a> </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>