<app-header></app-header>

<app-sub-header [subNavArr]="dataSrc[0].children" [subNavArr2]='dataSrc[0]'></app-sub-header>

<div id="about-page-banner" style="background: url(./assets/about_Overview-assets/About.jpg);
background-position:center ;position:relative;background-repeat: no-repeat;background-size: cover;">
    <div class="container">
        <div class="vertical-align">
            <div class="wrapper text">
                <div class="row">
                    <div class="col-md-12">
                        <h2 style="color: #000000" class="bounceInUp">About</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-banner overlay video" style="border-top: 5px solid #e8e8e8;"> <video muted autoplay loop id="about_bg" playsinline> 
    <source src="./assets/about_Overview-assets/About-Where-Self-Regenerates .mp4" type="video/mp4"> 
     
</video>
    <div class="vertical-align">
        <div class="wrapper text">
            <div class="text" data-aos="fade-up" data-aos-once="false" data-aos-delay="1500">
                <h2>Where Self Regenerates Self&reg;</h2>
                <p>At PolarityTE, we’re aiming to be the first company to truly deliver regenerative medicine into clinical practice, fulfilling the long unmet promise that tissue engineering has failed to meet. We utilize a patient’s own cells and tissues
                    to regenerate functionally-polarized human tissue. PolarityTE is built on the principle that self must regenerate self. Any other scenario is a smokescreen.</p>
                <p>We are revolutionizing regenerative medicine and inducing a paradigm shift through our innovative platform technology, incredible team, expanding network and drive to be different.</p>
            </div>
        </div>
    </div>
</div>
<div class="page-banner2" style="border-top: 5px solid #ae8fb8;background: url(./assets/about_Overview-assets/about_paradigmShift_bg.jpg);background-position: center;background-repeat: no-repeat;background-size: cover;background-attachment: fixed;">
    <div class="vertical-align">
        <div class="wrapper text">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-6 col-lg-offset-1">
                    <div class="text" data-aos="slide-right" data-aos-once="false">
                        <h2>Our Platform is Sparking a Paradigm Shift</h2>
                        <p>At PolarityTE, our revolutionary platform technology is being developed to induce cell and tissue polarity, creating uniquely functional tissue to mirror natural development in the human body.</p> <a routerLink="/platform" class="btn">View Our Platform</a>                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-banner3" style="border-top: 5px solid #e9e9e9; background: url(./assets/about_Overview-assets/OurProductsOptimized.jpg);background-position: 50% 50%;background-repeat: no-repeat;background-size: cover;">
    <div class="vertical-align">
        <div class="wrapper text">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-6 col-lg-offset-5">
                    <div class="text" data-aos="slide-left" data-aos-once="false">
                        <h2>Our Products are Optimized</h2>
                        <p>Our first product is being optimized for clinical deployment targets skin regeneration, with all its layers (dermis, epidermis and hypodermis), hair and appendages. Skin regeneration will propel us into numerous other arenas, including
                            bone, muscle, fascia, cartilage and nerve.</p> <a routerLink="/products/overview" class="btn">View Our Products</a> </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-banner2" style="border-top: 5px solid #8fc8eb; background: url(./assets/about_Overview-assets/OurTeamExperienced.jpg);background-position: center;background-repeat: no-repeat;background-size: cover;">
    <div class="vertical-align" style="background-color: rgba(0, 0, 0, 0.4);">
        <div class="wrapper text">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-6 col-lg-offset-1">
                    <div class="text" data-aos="slide-right" data-aos-once="false">
                        <h2>Our Team is Experienced</h2>
                        <p>Our team of seasoned professionals, including a team of reconstructive surgeons, possessing unmatched experience and knowledge of true clinical needs, will drive our platform towards a vast patient impact.</p> <a routerLink="/about/management-team"
                            style='min-width: 260px;' class="btn">View Our Management Team</a> </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-banner3" style="border-top: 5px solid #1d908d; background: url(./assets/about_Overview-assets/OurValuesGuidedBy.jpg);background-position: center;background-repeat: no-repeat;background-size: cover;">
    <div class="vertical-align" style="background-color: rgba(0, 0, 0, 0.4);">
        <div class="wrapper text">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-6 col-lg-offset-5">
                    <div class="text" data-aos="slide-left" data-aos-once="false">
                        <h2>Our Values are Guided by Our Foundations as Physicians</h2>
                        <p>We are a company created by providers for providers and the patients they serve. Our founders left the practice of medicine to be able to serve more patients on a greater scale. Patients, providers and the advancement of all humanity
                            is at the center of our work, and we are committed to upholding the highest ethical, professional and legal standards as members of the medical and broader global community.</p> <a routerLink="/about/values" class="btn">Our Values</a>                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>