<app-header></app-header>
<div id="privacy-page-banner" style="background: url(./assets/privacy-assets/privacy-banner.jpg);background-position: 50% 50%;background-repeat: no-repeat;
background-size: cover;">
    <div class="container">
        <div class="vertical-align">
            <div class="wrapper text">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="bounceInUp">Privacy Policy</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class=" row ">
        <main class="col-md-12 col-lg-8 offset-lg-2 ">
            <div class="main-content clearfix ">
                <h1>Privacy Policy</h1>
                <p><strong>What Do We Do With The Information You Provide?</strong></p>
                <p>We may ask you to give us contact and demographic information when you register. We use this information to send our Site’s users like you information about the Site or Services. We also use this information to contact you both on line
                    and offline when needed.&nbsp;</p>
                <p><strong>What Do We Do With Your IP Address And Cookies?</strong></p>
                <p>We use your IP address to help diagnose problems with our server and to administer our website. Your IP address is used to gather broad demographic information and is stored as a partial identifier. We use cookies, when applicable, to
                    deliver content specific to your interests and when applicable to save your password so you don't have to re-enter it each time you visit our site. You may set your browser to refuse cookies. If you make that choice, please understand
                    that you may not be eligible for any specials and / or promotions we may offer our Site’s users.</p>
                <p><strong>Is Your Personal Information Shared?</strong></p>
                <p>No.</p>
                <p><strong>Privacy Policy Changes</strong></p>
                <p>We may amend this privacy policy from time to time.</p>
                <p><strong>Contacting the Web Site</strong></p>
                <p>If you have any questions about this privacy statement, the practices of this site, or use of our trademarks and copyrighted material, or for any other concerns please feel free to <a routerLink="/contact">contact us</a>.</p>
            </div>
        </main>

    </div>
</div>
<app-footer></app-footer>