h2,
h3,
p {
    margin: 0 0 20px
}

.sb-nav ul li,
.sidebar-nav ul li a,
h3,
p {
    color: #fff
}

.row {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-direction: initial
}

@media screen and (max-width:992px) {
    .main-content {
        padding: 50px 15px
    }
}

#company-page-banner .vertical-align {
    height: 400px
}

#company-page-banner,
.company-info {
    border-bottom: 33px solid #000
}

#company-page-banner {
    position: relative;
    overflow: hidden;
    z-index: 0
}

#company-page-banner .text {
    text-align: center;
    padding: 32px 0
}

.vertical-align>.wrapper {
    display: table-cell;
    vertical-align: middle;
    width: 100%
}

.vertical-align {
    display: table;
    width: 100%;
    table-layout: fixed
}

#company-page-banner h2 {
    color: #fff;
    text-align: center;
    font-size: 50px
}

h2,
h2 a {
    line-height: 1.2;
    font-weight: 300;
    text-transform: none
}

.sb-nav ul li:first-child {
    list-style: none
}

.sb-nav ul li {
    margin: 0;
    padding: 0;
    list-style: disc
}

.sb-nav ul li.sidebar-title {
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 9px;
    font-weight: 600;
    border-bottom: 4px solid #fff
}

.sb-nav ul>li {
    margin: 0;
    padding: 0
}

h3 {
    font-size: 28px;
    font-weight: 600
}

strong {
    font-weight: 700
}

.icon-bg-overview {
    font-weight: 600
}

.company-overview .text {
    width: 80%
}

.btn:hover {
    background: #fff;
    color: #000!important;
    text-decoration: none
}

.btn {
    min-width: 196px;
    color: #fff;
    border: 2px solid #fff;
    letter-spacing: .03em;
    text-transform: uppercase;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 1000px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 5px;
    cursor: pointer
}

.caret {
    border-top: 8px dashed;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent
}

div.dropdown .dropdown-menu {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%)
}

.open>.dropdown-menu {
    display: block
}

div.dropdown .dropdown-menu li a {
    padding: 15px
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap
}

@media screen and (min-width:992px) {
    .row>div {
        -webkit-flex: 1
    }
    .sidebar-nav+.col-md-9 .main-content {
        padding-right: 0;
        padding-left: 45px!important
    }
    .main-content {
        padding: 146px 50px!important
    }
    .sb-nav {
        padding: 145px 50px
    }
}

.main-content h1,
.main-content h2.title {
    margin-bottom: 45px
}

.ir-module:first-of-type,
.ir-overview-section:first-of-type {
    margin: 0
}

.ir-module.contact-module a {
    color: #fff
}

.ir-module.contact-module a:hover {
    color: #49A0DF
}

h2 {
    color: #fff;
    font-size: 40px
}

.ir-module,
.ir-overview-section {
    margin: 100px 0
}

.panel-group {
    max-width: 1000px
}

.member .image {
    float: left;
    margin: 10px 15px 0 0;
}

.member img {
    height: 150px;
    border-radius: 25px;
}

.member+.member {
    margin: 50px 0;
    padding: 50px 0 0;
    border-top: 1px solid #333336;
}

.member h2 {
    margin: 0;
    margin-bottom: 5px !important;
    font-size: 40px !important;
    font-weight: 300 !important;
}

.member h2,
p {
    color: #fff;
}

.member .title {
    margin-bottom: 0;
    font-size: 18px;
    font-style: italic;
    color: #666;
}

.member-info {
    margin-top: 20px;
}

@media screen and (max-width:768px) {
    .sb-nav {
        padding-bottom: 0!important;
        padding-top: 25px!important
    }
    .company-overview .text {
        width: 100%;
        max-height: none
    }
}

@media screen and (min-width:992px) {
    .col-lg-9 {
        padding: 0;
    }
}

@media screen and (max-width:991px) {
    .sb-nav li,
    .sidebar-nav,
    .sidebar-nav>div {
        width: 100%
    }
    .main-content>.text,
    .right-sidebar,
    .sidebar-nav {
        min-height: 0!important
    }
    .sb-nav {
        border-top: none;
        padding: 0 15px
    }
    .sb-nav li {
        display: block;
        padding: 0;
        margin: 0
    }
    .sidebar-nav ul li a {
        padding: 5px 0
    }
    .company-overview .text {
        width: auto
    }
    .col-lg-6 {
        padding-bottom: 30px!important
    }
}

@media screen and (max-width:1199px) {
    #company-page-banner .vertical-align {
        height: 200px
    }
}

.glyphicon,
.que-lists p {
    font-size: 25px;
    font-weight: 600
}

.que-lists #borderonly {
    border-bottom: 1px solid #333336;
    padding: 10px
}

.vertical-align:hover .glyphicon,
.vertical-align:hover p {
    color: #49A0DF
}

.que-lists p {
    color: #fff
}

.ans-lists,
.ans-lists .vertical-align {
    padding: 10px 20px
}

.ans-lists,
.que-lists {
    margin: 5px 0;
    cursor: pointer
}

@media screen and (max-width:1199px) {
    #faq-page-banner,
    #faq-page-banner .vertical-align {
        height: 200px
    }
}

@media screen and (max-width:991px) {
    .ans-lists,
    .ans-lists .vertical-align {
        height: auto
    }
}

pre {
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: 18px;
    margin-top: 0;
    padding: 0;
    margin-bottom: 0
}