.row {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap
}

@media screen and (min-width:576px) {
    .row>div {
        -webkit-flex: 1
    }
}

.module-default-border,
.page-banner-rta-assistant,
.page-banner-rta-banner {
    border-bottom: 33px solid #000
}

.vertical-align>.wrapper {
    display: table-cell;
    vertical-align: middle;
    width: 100%
}

.vertical-align {
    display: table;
    width: 100%;
    table-layout: fixed
}

.page-banner-rta-banner:not(.home-hero) h2,
p {
    color: #fff
}

.page-banner-rta-assistant:not(.home-hero) h2,
p {
    color: #fff;
    text-align: left
}

.module-default-border .text,
.page-banner .text {
    text-align: center
}

p {
    font-size: 16px;
    margin: 0 0 20px
}

.item {
    border: none!important
}

.page-banner-rta-assistant h2,
.page-banner-rta-banner h2 {
    font-size: 50px;
    margin-bottom: 0
}

.module-download-app .main-title {
    margin-bottom: 220px;
    padding-left: 0
}

.main-title {
    color: #fff
}

.module-download-app h2 {
    font-size: 50px;
    margin-bottom: 0;
    text-shadow: none
}

.module-download-app {
    padding: 110px 0 185px
}

h2,
h2 a {
    line-height: 1.2;
    font-weight: 300;
    text-transform: none
}

h2 {
    margin: 0 0 20px
}

.image-wrapper img {
    box-shadow: 0 0 20px #add8e6;
    border-radius: 45px
}

.module-default-border,
.page-banner-rta-assistant,
.page-banner-rta-banner,
.page-banner-rta-banner .vertical-align {
    height: 810px
}

img,
video {
    max-width: 100%;
    height: auto
}

.page-banner-rta-assistant .text,
.page-banner-rta-banner .text {
    max-width: 660px;
    padding: 0 15px;
    margin: 0 auto;
    text-align: left
}

.page-banner-rta-assistant .text h2,
.page-banner-rta-banner .text h2 {
    font-size: 45px;
    margin-bottom: 5px!important;
    font-weight: 600;
    text-shadow: 0 0 10px rgba(0, 0, 0, .6)
}

.page-banner-rta-assistant .text {
    padding-left: 40px;
    padding-top: 10%
}

.page-banner-rta-assistant ul li::before {
    content: '\2022 ';
    color: #fff;
    margin-left: -16px;
    margin-top: 2px;
    font-size: 13px;
    position: absolute
}

ul {
    margin: 0 0 20px;
    padding-left: 0
}

ul li {
    color: #fff;
    list-style: none;
    margin: 18px 0;
    padding-left: 20px;
    position: relative
}

.under_line {
    height: 3px;
    background-color: #fff;
    width: 550px;
    margin: 15px 0
}

.page-banner-rta-banner .image-wrapper {
    position: absolute;
    bottom: -150px;
    left: 50%;
    width: 50%;
    max-width: 515px;
    padding-left: 100px
}

.page-banner-rta-banner {
    padding: 0;
    overflow: hidden
}

.btn:hover {
    background: #fff;
    color: #000;
    text-decoration: none
}

.btn {
    min-width: 196px;
    color: #fff;
    border: 2px solid #fff;
    letter-spacing: .03em;
    text-transform: uppercase;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 1000px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 5px;
    cursor: pointer
}

.cellphone-slideshow-wrapper {
    max-width: 512.5px;
    margin: 0 auto;
    padding: 0 40px;
    position: relative
}

.cellphone-slideshow {
    top: 3px;
    margin-bottom: -5px
}

.cellphone-slideshow .slide {
    height: auto
}

.slide {
    border: none;
    border-top: 0;
    position: relative;
    width: 100%;
    height: 280px
}

.cellphone-slideshow .slide video {
    width: 100%;
    height: auto
}

.cellphone-slideshow-wrapper .next-arrow,
.cellphone-slideshow-wrapper .prev-arrow {
    position: absolute;
    width: 34px;
    height: 37px;
    top: 50%;
    margin-top: -18px;
    cursor: pointer;
    z-index: 101
}

.cellphone-slideshow-wrapper .prev-arrow {
    left: -40px;
    background: url(../../../assets/rta-assets/leftArrow.png) no-repeat
}

.cellphone-slideshow-wrapper .next-arrow {
    right: -40px;
    background: url(../../../assets/rta-assets/rightArrow.png) no-repeat
}

.page-banner-rta-assistant .btn.full-width {
    border-color: #fff;
    color: #fff;
    margin-bottom: 16px;
    white-space: normal;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 0;
    background: 0 0;
    letter-spacing: .03em
}

.page-banner-rta-assistant .video-btn::before {
    content: '';
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 5px;
    background: url(../../../assets/rta-assets/playBtn.png) no-repeat
}

.full-width.btn {
    display: block
}

.page-banner-rta-assistant .btn.full-width:focus {
    box-shadow: 0 0 10px rgba(255, 255, 255, .4);
    background: #fff;
    color: #000
}

.app-download-row .ios-download {
    width: 150px;
    height: 50px;
    background: url(../../../assets/rta-assets/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg) no-repeat;
    background-size: cover
}

.app-download-row .android-download {
    width: 170px;
    height: 50px;
    background: url(../../../assets/rta-assets/google-play-badge.png) no-repeat;
    background-size: cover
}

.app-download-row>a+a {
    margin-left: 30px
}

.app-download-row>a {
    display: inline-block;
    vertical-align: middle
}

@media screen and (min-width:576) and (max-width:991px) {
    a #download-btn {
        margin-right: 30px!important
    }
}

@media screen and (max-width:991px) {
    .module-download-app .main-title {
        margin-bottom: 35px
    }
    .page-banner-rta-banner .image-wrapper {
        width: 280px;
        bottom: -110px!important;
        padding-left: 0;
        margin-left: -150px!important;
        position: absolute;
        left: 52%;
        max-width: 535px
    }
    .under_line {
        width: 100%
    }
    .module-wrapper .text,
    .page-banner-rta-assistant .text,
    .page-banner-rta-banner .text {
        margin: auto!important
    }
    .page-banner-rta-banner {
        padding: 60px 0 480px
    }
    .module-default-border,
    .page-banner-rta-assistant,
    .page-banner-rta-banner,
    .page-banner-rta-banner .vertical-align {
        height: auto
    }
    .page-banner-rta-assistant .text {
        padding-left: 15px
    }
    .module-default-border {
        background-attachment: initial!important
    }
    .module-download-app .main-title {
        padding-left: 0
    }
    .module-download-app h2 {
        font-size: 40px
    }
    .app-download-row>a+a {
        margin-left: auto;
        margin-top: 15px
    }
    .app-download-row>a {
        display: table;
        margin: 0 auto
    }
    .page-banner-rta-banner .text .btn+.btn {
        margin-left: 0!important
    }
    .app-download-row {
        padding-top: 7px
    }
}

@media screen and (max-width:767px) {
    .module-download-app .text::after {
        content: '';
        width: 120px;
        height: 280px;
        background: url(../../../assets/rta-assets/phone.png) no-repeat;
        background-size: contain;
        display: block;
        margin: 40px auto 0
    }
    .module-download-app {
        padding: 60px 0 40px
    }
}