<app-header></app-header>
<div sticky class="sub-navigation ir-navigation">

    <nav class="collapse sb-nav clearfix" id="sub-navigation">
        <h3 class="hidden-sm hidden-xs"> <a routerLink="/news-media/in-the-news">News & Media</a> </h3>
        <ul>
            <li> <a routerLink="/news-media/in-the-news" routerLinkActive="active-link">In the News</a> </li>
            <li> <a routerLink="/news-media/press-releases" routerLinkActive="active-link">Press Releases</a> </li>
            <li> <a routerLink="/news-media/events" routerLinkActive="active-link">Events</a> </li>
            <li> <a routerLink="/" routerLinkActive="active-link">Scientific Communications</a> </li>
        </ul>
    </nav>

</div>
<div id="page-banner" style="background: url(./assets/publications-assets/publicationsHeader.jpg);background-repeat: no-repeat;background-size: cover;">
    <div class="vertical-align">
        <div class="wrapper text">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="bounceInUp">Scientific Communications</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12" style="background: #000000;">
    <div class="container" id="in-the-news-mobile">
        <div class="row">
            <div class="col-md-12" style="height: auto">

                <div class="conferences-list-2018">
                    <h3>Publications</h3>
                    <article class="media media-in-the-news">
                        <div class="media-body" style="width: auto">
                            <div class="media-heading"><i><a  href="https://doi.org/10.1111/iwj.13109"
                            target="_blank">International Wound Journal</a></i><time> • March 13th, 2019 </time>

                                <ul class="list-description">
                                    <li>
                                        <p>In Vivo Expansion and Regeneration of Full‐Thickness Functional Skin with an Autologous Homologous Skin Construct: Clinical Proof of Concept for Chronic Wound Healing</p>
                                        <p>Authors &nbsp;&nbsp;•&nbsp;&nbsp; Mark S. Granick, Nicholas W. Baetz, Pratima Labroo, Stephen Milner, William W. Li, Nikolai A. Sopko</p>

                                        <section class="article-link">

                                            <a href="https://onlinelibrary.wiley.com/doi/full/10.1111/iwj.13109" target="_blank">Manuscript</a>
                                        </section>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>
                <!-- <div class="heading">
          <h2>Publications</h2>
          <div class="under_line"></div>
        </div>
        <h3>2018</h3>
        <article class="media media-in-the-news" *ngFor="let item of listarticle">
          <div class="media-left ">
            <a href={{item.articlelink}} target="_blank">
              <img src={{item.src}} class="media-object">
            </a>
          </div>
          <div class="media-body media-right" style="width: auto">
            <div class="media-heading">
              <i> <a href="{{item.articlelink}}" target="_blank">
                {{item.title}} </a></i>  <time> • {{item.date}}</time>
                <p>{{item.description}}</p>
                <span>{{item.author}}</span>
                <section class="article-link">
                    <a href="./assets/publications-assets/pdfs/Abstract___Replacement_of_Contracted.135" download>Article</a>
                </section>
              </div>
          </div>
        </article>
        <div class="separator"></div> -->

                <!-- Conference 2019 -->

                <!-- <div class="conferences-list-2019" style="height: auto;">
          <div class="heading">
              <h2>Conferences</h2>
              <div class="under_line"></div>
            </div>
            <h3>2019</h3>
            <article class="media media-in-the-news">
                <div class="media-body" style="width: auto">
                    <div class="media-heading">
                      <i><a href="https://jabmauisymposium.com/" target="_blank">41st Annual Boswick Burn & Wound Symposium </a></i> 
                        <time> • February 2 - 7, 2019</time>
                        <p class="location-city">Maui, Hawaii </p>
                      </div>
                  </div>
              </article>


              <article class="media media-in-the-news">
                  <div class="media-body" style="width: auto">
                      <div class="media-heading">
                        <i>
                          <a href="https://www.ors.org/event/ors-2019-annual-meeting/" target="_blank">Orthopaedic Research Society </a> </i>  
                          <time> • February 2 - 5, 2019</time>
                          <p class="location-city">Austin, Texas </p>
                        
                        </div>
                    </div>
                </article>
                


                <article class="media media-in-the-news">
                    <div class="media-body" style="width: auto">
                        <div class="media-heading">
                          <i><a href="http://nabsociety.org/site/?page_id=7" target="_blank">North American Burn Society (NABS) </a></i>  
                            <time> • January 19 - 24, 2019</time>
                            <p class="location-city">Park City, Utah</p>
                          </div>
                      </div>
                  </article>
                  <article class="media media-in-the-news">
                    <div class="media-body" style="width: auto">
                        <div class="media-heading">
                          <i><a href="https://www.samconference2019.com/" target="_blank">Science and Management Symposium (SAM) hosted by the Florida Podiatric Medical Association (FPMA) </a></i>  
                            <time> • January 9 - 13, 2019</time>
                            <p class="location-city">Orlando, Florida</p>
                          </div>
                      </div>
                  </article>
      </div> -->
                <!-- Conference 2019 -->
                <div class="conferences-list-2018">
                    <h3>Conferences</h3>
                    <article class="media media-in-the-news">
                        <div class="media-body" style="width: auto">
                            <div class="media-heading"><i><a  href="https://jabmauisymposium.com/"
                            target="_blank">41st Annual Boswick Burn & Wound Symposium</a></i><time> • February 2 - 7th, 2019 </time>
                                <p class="location-city">Maui, Hawaii</p>
                                <ul class="list-description">
                                    <li>
                                        <p>Poster &nbsp;&nbsp;•&nbsp;&nbsp;Regeneration of Full-thickness Hair-bearing Skin and Dermal Appendages Using an Autologous Homologous Skin Construct in a Porcine Model of Large Full-thickness Wounds</p>

                                        <section class="article-link">

                                            <a href="./assets/publications-assets/pdfs/boswick_020219_poster02.pdf" target="_blank">Poster</a>
                                        </section>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>

                    <article class="media media-in-the-news">
                        <div class="media-body" style="width: auto">
                            <div class="media-heading"><i><a  href="https://www.ors.org/2019annualmeeting/"
                            target="_blank">Orthopaedic Research Society</a></i><time> • February 2 - 5th, 2019 </time>
                                <p class="location-city">Austin, Texas</p>
                                <ul class="list-description">
                                    <li>
                                        <p>Poster&nbsp;&nbsp;•&nbsp;&nbsp;Cortical and Cancellous Bone Regeneration in Critical-sized Calvarial Defect and Spinal Fusion Models Achieved Using Autologous Homologous Bone Constructs</p>

                                        <section class="article-link">
                                            <a href="./assets/publications-assets/pdfs/ors_020219_poster.pdf" target="_blank">Poster</a>
                                        </section>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>
                    <article class="media media-in-the-news">
                        <div class="media-body" style="width: auto">
                            <div class="media-heading"><i><a  href="https://www.worldstemcellsummit.com"
                            target="_blank">World Stem Cell Summit (WSCS) - Regenerative Medicine Foundation</a></i><time> • January 22 - 25th, 2019 </time>
                                <p class="location-city">Miami, Florida</p>
                                <ul class="list-description">
                                    <li>
                                        <p>Poster&nbsp;&nbsp;•&nbsp;&nbsp;Neogeneration of Fully-functional Bone and Skin With Multifunctional Polarizing Units in an Autologous Homologous Tissue Construct</p>
                                        <section class="article-link">
                                            <a href="./assets/publications-assets/pdfs/WSCS_012219_poster.pdf" target="_blank">Poster</a>
                                        </section>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>

                </div>
                <!-- Conference 2018 -->

                <div class="conferences-list-2018">
                    <h3>2018</h3>
                    <article class="media media-in-the-news">
                        <div class="media-body" style="width: auto">
                            <div class="media-heading">
                                <i><a href="https://www.emedevents.com/c/medical-conferences-2018/2018-innovations-in-wound-healing"
                    target="_blank">Innovations in Wound Healing </a> </i>
                                <time> • December 6 - 9, 2018</time>
                                <p class="location-city">Key West, Florida</p>
                                <ul class="list-description">
                                    <li>
                                        <p>Podium&nbsp;&nbsp;•&nbsp;&nbsp;Regeneration of Functional Skin</p>
                                        <p style='padding-top:15px'>Poster&nbsp;&nbsp;•&nbsp;&nbsp;Closure of Acute and Chronic Complex Wounds Involving Exposed Tendon and Bone with Full-Thickness Skin using an Autologous Homologous Skin Construct </p>
                                        <section class="article-link">
                                            <span>
                        <a href="./assets/publications-assets/pdfs/IWH_2018_Poster_SailonTamagniniSopkoMundinger.pdf"
                          target="_blank">Poster</a></span>
                                        </section>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>
                    <article class="media media-in-the-news">
                        <div class="media-body" style="width: auto">
                            <div class="media-heading">
                                <i><a href="https://www.sawc.net/" target="_blank"> SAWC/FALL </a> </i>
                                <time> • November 2 - 4, 2018</time>
                                <p class="location-city">Las Vegas, Nevada</p>
                                <ul class="list-description">
                                    <li>
                                        <p>Poster&nbsp;&nbsp;•&nbsp;&nbsp;Autologous Homologous Skin Graft Regenerates Functionally Normal Skin Within a Chronic Nonhealing Leg Wound Refractory to Skin Grafting</p>
                                        <section class="article-link">
                                            <span>
                        <a href="./assets/publications-assets/pdfs/SAWCFALL_poster_MG1_2018.pdf" target="_blank">Poster</a></span>
                                        </section>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>
                    <article class="media media-in-the-news">
                        <div class="media-body" style="width: auto">
                            <div class="media-heading">
                                <i><a href="http://dfcon.com/" target="_blank"> Diabetic Foot Global Conference (DF CON) </a> </i>
                                <time> • October 11 - 13, 2018</time>
                                <p class="location-city">Houston, Texas</p>

                                <ul class="list-description">
                                    <li>
                                        <p>Podium&nbsp;&nbsp;•&nbsp;&nbsp;Wound Care in a Box: Clinical Applications of a Novel Autologous Homologous Skin Construct for Full-Thickness Skin Regeneration</p>
                                        <section class="article-link">
                                            <span>
                        <a href="https://dfcon.cliniciansmatrix.com/streaming" target="_blank">Webcast</a>
                        <span>
                          <span>&nbsp;&nbsp;•&nbsp;&nbsp;</span><a href="./assets/publications-assets/pdfs/DFCon2018_presentation.PDF" target="_blank">Slides</a></span>
                                            </span>

                                        </section>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>
                    <article class="media media-in-the-news">
                        <div class="media-body" style="width: auto">
                            <div class="media-heading">
                                <i><a href="https://www.plasticsurgerythemeeting.com/" target="_blank"> Plastic Surgery – The Meeting
                  </a> </i>
                                <time> • September 28 - October 1, 2018 </time>
                                <p class="location-city">Chicago, Illinois </p>
                                <ul class="list-description">
                                    <li>
                                        <p>Podium&nbsp;&nbsp;•&nbsp;&nbsp;Replacement of Contracted Split-Thickness Skin Graft and Keloid Scar with a Self-Propagating Autologous Skin Construct (SkinTE™)</p>
                                        <section class="article-link">
                                            <span>
                        <a href="https://journals.lww.com/prsgo/Fulltext/2018/08001/Abstract___Replacement_of_Contracted.135.aspx"
                          target="_blank">Abstract</a>
                      </span>

                                        </section>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </article>
                    <article class="media media-in-the-news">
                        <div class="media-body" style="width: auto">
                            <div class="media-heading">
                                <i><a href="https://www.apwca.org/2018-Overview" target="_blank">American Professional Wound Care
                    Association</a></i>
                                <time> • September 6 - 8, 2018</time>
                                <p class="location-city">Baltimore, Maryland</p>
                                <ul class="list-description">
                                    <li>
                                        <p>Podium&nbsp;&nbsp;•&nbsp;&nbsp;Regeneration of Full Thickness Hair-Bearing Skin in Chronic Refractory Wounds with an Autologous Homologous Skin Construct: Preclinical and Clinical Experience Abstract/Slides</p>
                                        <img src='./assets/publications-assets/icon.award.png' alt='award-winner'>
                                        <section class="article-link" style="display: inline-block;text-indent: 15px">
                                            <span>
                     
                        <a href="./assets/publications-assets/pdfs/abstractBook.pdf" target="_blank">Abstract</a>
                      </span>
                                            <span>
                        <span>&nbsp;&nbsp;•&nbsp;&nbsp;</span><a href="./assets/publications-assets/pdfs/presentation.pdf" target="_blank">Slides</a></span>
                                        </section>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>
                    <section class="award-winning-sign">
                        <img src='/assets/publications-assets/icon.award.png' alt='award-winner'>&nbsp;Award Winning
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>