<div class="tri-color">
    <div></div>
    <div></div>
    <div></div>
</div>
<div class="header">
    <div class="container">
        <h1>PolarityTE RTA Terms &amp; Conditions</h1>
        <div class="app-logo"><img src="./assets/rtaApp-assets/product-manual/applogo.png" alt=""></div>
        <div class="clear"></div>
    </div>
</div>

<div class="content main-content">
    <div class="container">

        <p>Thank you for downloading the PolarityTE, Inc. (“PolarityTE”) Real-Time Assistant (“RTA”). The Service that PolarityTE provides to you is subject to the following Terms of Service (“Terms”).</p>
        <p>These Terms constitute a legal agreement between you and PolarityTE and its successors, parents, subsidiaries, affiliates and related companies or other companies under a common control that PolarityTE may have now or in the future operate (“PolarityTE,”“we,”“our”
            or “us”). As used in these Terms, the words “you” and “your” refer to you, the user of the PolarityTE RTA Service. The use of the word “including” in these Terms is used to refer to specific examples will be construed to mean “including, without
            limitation” or “including but not limited to” and will not be construed to mean that the examples given are an exclusive list of the topics covered. These Terms apply to the PolarityTE website and mobile applications (the “Site”) and the HIPAA-compliant
            communication service, real-time product tracking, product instructions and related documents, terms and conditions and privacy principles, frequently asked questions (“FAQ”), and the form submission feature provided by PolarityTE on the application
            and web (together with the Site, the “Service”). These Terms govern your access to and use of the Service, so please carefully read them before using the Service.</p>
        <p>By using the Service you agree to be bound by these Terms. If you are using the Service on behalf of an organization, you are agreeing to these Terms for that organization and promising that you have the authority to bind that organization to
            these terms. In that case, “you” and “your” will refer to that organization.</p>
        <p><b>The following is a brief summary of these Terms:</b></p>
        <ul>
            <li>The Terms describe your rights and responsibilities in connection with your use of the service.</li>
            <li>We will only use content that you enter to the extent necessary to provide you with the service.</li>
            <li>Protecting your content is very important to us. We endeavor to keep your content secure against unauthorized access and disclosure using a variety of authentication and security processes.</li>
        </ul>
        <h2>MEDICAL PROFESSIONAL RELATIONSHIP TERMS</h2>
        <p>The Service is a tool to facilitate the sharing of a patient’s personal health record, to provide administrative support to a healthcare facility, and to transfer, store or display laboratory tests or other data. The Service is importantly not
            intended as a diagnostic tool, and the Service is not intended to diagnose, treat, cure, or prevent any disease. By accepting the Terms, the Medical Professional or other user expressly agrees to this.</p>
        <p><b>For purposes of sharing medical information between Medical Professionals or between Medical Professionals (also“HCPs”) and PolarityTE Advisors (collectively referred to as “Professionals”):</b></p>
        <ul>
            <li>An HCP initiates a chat with a PolarityTE Advisor through the service.</li>
            <li>An HCP initiates a chat with another HCP through the service.</li>
        </ul>
        <p>Once data is shared between the HCP and the PolarityTE Advisor, it will remain shared between the Professionals only.</p>
        <p>In NO EVENT will PolarityTE, or its affiliates, directors, officers, investors, employees, agents, advertisers, licensors, suppliers, or service providers be liable for any indirect, special, incidental, punitive, exemplary or consequential damages
            associated with the communication between HCPs through the Site.</p>
        <h2>ACCEPTANCE OF TERMS</h2>
        <p>By clicking to agree or accept the terms of the End User License Agreement (“EULA”) following your initial acceptance of terms during account creation, actually using or accessing the Site or any part of the Service, you signify your agreement
            to be bound by these Terms and all other policies or notices posted by us on the Site. Your use of the Service is also governed by the PolarityTE Privacy Principles and End User License Agreement - all of which are incorporated by reference
            into these Terms.</p>
        <p>If you don’t agree to these Terms, do not use the Service. You agree that your use of the Service will always be subject to the most current version of these Terms at the time of such use. It is your responsibility to review these Terms from time
            to time for any changes. If you use the Service after we have changed any of the Terms, you are agreeing to all of the changes.</p>
        <p>You may not use the Service and you may not accept these Terms if you are not at least 18 years of age and, in any event, of a legal age to be a licensed medical practitioner and able to form a binding contract with PolarityTE.</p>
        <p>If you accept these Terms, you represent that you have the power to form a contract with PolarityTE and be bound by these Terms.</p>
        <p>Depending on your activities when visiting the Site or using the Service, you may be required to agree to additional terms and conditions as indicated on the Site or via the Service.</p>
        <h2>PRIVACY AND PROTECTION OF PERSONAL INFORMATION</h2>
        <p>In addition to these Terms, PolarityTE has established RTA Privacy Principles or Terms to explain how we may collect and use protected health information (PHI) along with information about users of the Site. You must review the RTA Privacy Principles.
            The RTA Privacy Principles are incorporated by reference into these Terms.</p>
        <h2>MEMBER ACCOUNT PASSWORD AND SECURITY</h2>
        <p>The Service requires you to register by creating a user account. You must complete the registration process by providing current, complete and accurate information. This means that you may not set up an account using someone else’s name or contact
            information and in no event may you set up an account using a phony name or phony contact information. You also will be required to choose a password and/or a PIN. You are entirely responsible for safeguarding your password, PIN, and account,
            and you agree not to disclose your login information to any third party. Furthermore, you are entirely responsible for any and all activities that occur under your account, whether or not you authorized that activity. You agree to notify PolarityTE
            immediately of any unauthorized use of your account or any other breach of security, by sending an email to <a href="mailto:RTA@PolarityTE.com">RTA@PolarityTE.com.</a></p>
        <p>PolarityTE will not be liable for any loss that you may incur as a result of someone else using your password, PIN or account, either with or without your knowledge. However, you could be held liable for losses incurred by PolarityTE or another
            party due to someone else using your account, PIN or password. You may not use anyone else’s account at any time, without the permission of the account holder. You may not transfer your account to someone else. You will be liable for losses
            and damages incurred by us (or anyone else) due to the unauthorized use of your account.</p>
        <h2>HEALTHCARE COMMUNICATION</h2>
        <p>AS A MEDICAL PROVIDER: It is your duty to provide true, accurate, current and complete personal information, including your current contact information and medical records, which are necessary for us to provide the Service to you.</p>
        <p>You must not make any misrepresentations in the information you provide to PolarityTE or to other Medical Professionals. In order for the Service to function effectively, you must also keep your account information up-to-date and accurate.</p>
        <p>In addition to these Terms, PolarityTE has established an End User License Agreement, which governs the acceptable use of the Site and the Service. Please find a copy of this Policy at <a href="https://www.polarityte.com/eula" target="_blank">https://www.polarityte.com/eula</a>.
            The EULA is incorporated by reference into these Terms.</p>
        <h2>SUBMITTED INFORMATION</h2>
        <p>You warrant and represent to us that you either own all the information you are submitting or have the right to submit the information. Furthermore, you warrant and represent that you have the right to allow us to make your information available
            to our employees and agents to view and use in connection with providing the Service without requiring that any such use be subject to additional obligations or terms.</p>
        <h2>LEGAL NOTICES</h2>
        <p><b>Modifications</b></p>
        <p>We may revise these Terms from time to time. We may communicate revisions to these Terms to you via email to the email address associated with your account. By continuing to access or use the Service after revisions become effective, you agree
            to be bound by the revised Terms. If you do not agree to the new terms, please stop using the Service.</p>
        <p><b>Miscellaneous Legal Terms</b></p>
        <p>These Terms, together with any additional terms and conditions as indicated via the Service, constitute the entire and exclusive agreement between you and PolarityTE with respect to the Service, and supersede and replace any other agreements,
            terms and conditions applicable to the Service. These Terms create no third party beneficiary rights. PolarityTE’s failure to enforce a provision is not a waiver of its right to do so later. If a provision is found unenforceable, the remaining
            provisions of the Agreement will remain in full effect and an enforceable term will be substituted reflecting our intent as closely as possible. You may not assign any of your rights in these Terms, and any such attempt is void, but PolarityTE
            may assign its rights without restriction. PolarityTE and you are not legal partners or agents; instead, our relationship is that of independent contractors.</p>
        <p><b>PolarityTE Property</b></p>
        <p>These terms do not grant you any right, title, or interest in the Service, or the content in the Service. The Software and other technology we use to provide the Service are protected by applicable intellectual property and other laws.</p>
        <p>If you give feedback on the Service, such as recommendations for improvements or features, you hereby assign to PolarityTE all right, title and interest in and to such feedback, and that feedback may be implemented as part of the Service without
            compensation to you.</p>
        <p>All brand, product and service names and other brand features used in the Service that identify PolarityTE or the Service are the trademarks or service marks of PolarityTE or its licensors. Nothing in the Service or these Terms shall be deemed
            to confer on any person any license or right on the part of PolarityTE or any licensor with respect to any such brand features.</p>
        <h2>WARRANTY DISCLAIMER</h2>
        <p>USE OF THE SERVICE IS AT YOUR OWN RISK. THE SERVICE ARE PROVIDED ON AN “AS IS,”“WHERE IS” AND “AS AVAILABLE” BASIS. POLARITYTE AND ITS AFFILIATES, SUPPLIERS AND PARTNERS EXPRESSLY DISCLAIM ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED,
            INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF TITLE, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.</p>
        <p>POLARITYTE AND ITS AFFILIATES, SUPPLIERS AND PARTNERS MAKE NO WARRANTY, REPRESENTATION OR PROMISE THAT (A) THE SERVICE WILL MEET YOUR REQUIREMENTS; (B) THE SERVICE WILL BE UNINTERRUPTED, TIMELY, SECURE OR ERROR-FREE; OR (C) THAT THERE WILL BE
            NO ERRORS IN THE SERVICE. ANYTHING OBTAINED THROUGH USE OF THE SERVICE IS OBTAINED AT YOUR OWN DISCRETION AND RISK AND POLARITYTE SHALL NOT BE RESPONSIBLE FOR ANY DAMAGE CAUSED TO YOUR COMPUTER OR DATA OR FOR ANY BUGS, VIRUSES, TROJAN HORSES
            OR OTHER DESTRUCTIVE CODE, OR FOR ANY OTHER LOSSES YOU MAY INCUR, RESULTING FROM YOUR USE OF THE SERVICE.</p>
        <p>SOME STATES DO NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES, SO THE ABOVE EXCLUSION MAY NOT APPLY TO YOU. YOU MAY ALSO HAVE OTHER LEGAL RIGHTS, WHICH VARY FROM STATE TO STATE.</p>
        <h2>LIMITATION OF LIABILITY</h2>
        <p>TO THE FULLEST EXTENT PERMITTED BY LAW, (A) IN NO EVENT WILL POLARITYTE, OR ITS AFFILIATES, DIRECTORS, OFFICERS, INVESTORS, EMPLOYEES, AGENTS, ADVERTISERS, LICENSORS, SUPPLIERS, OR SERVICE PROVIDERS, BE LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL,
            PUNITIVE, EXEMPLARY OR CONSEQUENTIAL DAMAGES (INCLUDING WITHOUT LIMITATION LOSS OF USE, DATA, BUSINESS, OR PROFITS), REGARDLESS OF LEGAL THEORY, WHETHER OR NOT POLARITYTE HAS BEEN WARNED OF THE POSSIBILITY OF SUCH DAMAGES, AND EVEN IF A REMEDY
            FAILS OF ITS ESSENTIAL PURPOSE; AND (B) POLARITYTE’S TOTAL LIABILITY TO YOU FOR DAMAGES, LOSSES, AND CAUSES OF ACTION UNDER ANY THEORY OF LIABILITY SHALL IN NO EVENT EXCEED $100. YOU EXPRESSLY AGREE THAT THIS AMOUNT OF DAMAGES ($100) IS A
            REASONABLE ESTIMATE OF POTENTIAL DAMAGES BASED ON THE NATURE OF THE SERVICE AND THE RELATIONSHIP BETWEEN THE PARTIES.</p>
        <h2>INDEMNITY</h2>
        <p>You agree to indemnify, defend, and hold harmless PolarityTE, its affiliates and their respective directors, officers, employees and agents from and against any losses, costs, damages, liabilities and expenses (including reasonable attorneys’
            fees) arising out of any claims, actions, suits or proceedings related to your use of the Service, your violation of these Terms or of any rights of any third party, or any content or other information you submit to the Service. Your indemnification
            obligation will survive the termination of these Terms and your use of the Service.</p>
        <h2>TERMINATION OR SUSPENSION</h2>
        <p>We may terminate or suspend your permission to use the Service immediately and without notice upon any violation of these Terms, your failure to pay any fees when due, upon the request of law enforcement or government agencies, after extended
            periods of inactivity, for unexpected technical issues or problems, or in the event you engage in fraudulent or illegal activities. We also reserve the right to refuse, restrict, discontinue or terminate the Service (or any portions, components
            or features of the Service) to you or any other person or entity, for any reason or for no reason whatsoever, at any time, without notice or liability. If we terminate your use of the Service for any of these reasons or otherwise for cause,
            we will not refund any fees you may have paid.</p>
        <h2>AVAILABILITY</h2>
        <p>You acknowledge that temporary interruptions in the availability of the Service may occur from time to time, including the malfunction of equipment, periodic updating, maintenance or repair of the Service or other actions that PolarityTE, in its
            sole discretion, may elect to take. Under no circumstances will PolarityTE be held liable for any damages due to such interruptions or lack of availability.</p>
        <h2>ADDITIONAL TERMS</h2>
        <p>Portions of the Service may be accompanied by additional terms that apply to specific features or areas of the Service. Those additional terms supplement these terms with respect to your use of those features or areas. (e.g. Privacy Principles
            and End User License Agreement)</p>
        <p><b>Governing Law and Dispute Resolution</b></p>
        <p>These Terms are governed by laws of the state of Utah, without respect to its conflict of laws principles. The sole jurisdiction and venue for any claim arising from the Service and these Terms shall be the state and federal courts located in
            Salt Lake City, Utah and each party hereby consents to the exclusive jurisdiction and venue of such courts.</p>
        <p>You agree that if you want to bring a legal claim against us under these Terms, you must file your claim lawsuit within one year after the date on which you discovered or reasonably should have discovered the event that gave rise to your claim.</p>
        <p>TO THE EXTENT PERMITTED BY LAW, THE PARTIES AGREE THAT ANY DISPUTE RESOLUTION PROCEEDINGS, WHETHER IN ARBITRATION OR IN COURT, WILL BE CONDUCTED ONLY ON AN INDIVIDUAL BASIS AND NOT IN A CLASS OR REPRESENTATIVE ACTION OR AS A NAMED OR UNNAMED MEMBER
            IN A CLASS, CONSOLIDATED, REPRESENTATIVE OR PRIVATE ATTORNEY GENERAL ACTION, UNLESS BOTH YOU AND POLARITYTE SPECIFICALLY AGREE TO DO SO IN WRITING.</p>
        <p>If you do not wish to be bound by the foregoing class-action waiver, you must notify PolarityTE in writing within 30 days of the date that you accept these Terms. Your written notification must be mailed to: 1960 S 4250 W, Salt Lake City, UT 84104</p>
        <p><b>Notices</b></p>
        <p>Notices to you may be sent via email or provided through links displayed on the Site. You understand and agree that notices and other information (“Communications”) may be provided by PolarityTE to you by electronic means (i.e., via email or by
            posting the information on the Site). The categories of Communications that may be provided by electronic means include:</p>
        <ul>
            <li>These Terms and any amendments, modifications, or supplements;</li>
            <li>Any breach notifications, as required under HIPAA;</li>
            <li>Disclosures or notices provided in connection with the Service, including any required by federal or state law (including initial disclosures, periodic statements, initial and revised privacy notices; opt-out notices and change-in-terms notices);</li>
            <li>Any other communication related to the Service.</li>
        </ul>
        <p>All Communications will be deemed to have been received by you after it is posted on the site for 5 days, whether or not you have retrieved the Communication from the Site. An electronic Communication by email is considered to be sent at the time
            that it is directed by PolarityTE’s email server to your email address, whether or not you receive it. You agree that these are reasonable procedures for sending and receiving electronic Communications.</p>
        <p>You agree to promptly update your account records with PolarityTE if your email address changes so that PolarityTE may contact you electronically. You understand and agree that if we send you an electronic Communication but you do not receive
            it because the email address on file is incorrect, out of date, blocked by your service provider or you are otherwise unable to receive electronic Communications, PolarityTE will be deemed to have provided the Communication to you.</p>
        <p>Although we reserve the right to provide Communications in paper format at any time, you agree that we are under no obligation to do so. All Communications in either electronic or paper format will be considered to be “in writing.” You should
            print a paper copy of these Terms and any Communication that is important to you and retain the copy for your records. If you do not wish to receive these Terms or the Communications electronically, you may not use the Service.</p>
        <p>If you have opened an account with us and you wish to withdraw your consent to have Communications provided electronically, you must close your account and stop using the Service. There are no fees to close your account, but a return data-handling
            fee may apply.</p>
        <h2>Contact Us</h2>
        <p>If you would like to contact us to provide feedback, comments or requests for technical support, you should contact us through our email at <a href="mailto:RTA@PolarityTE.com">RTA@PolarityTE.com.</a> If for any reason, an end user or HCP believes
            that a Business Associate Agreement is required, please contact the Privacy Officer at: <a href="mailto:privacy@PolarityTE.com">privacy@PolarityTE.com.</a></p>
        <h2 id="privacy-principles">PolarityTE RTA Privacy Principles</h2>
        <p>PolarityTE, Inc. (“PolarityTE,” “we” or “us”) is committed to protecting the privacy and security of your personally identifying information. We have prepared these RTA Privacy Principles (also“Terms”) to explain how we collect, use, protect,
            and disclose your Personal Information, Usage Data and Message Data (as those terms are defined below) when you use the PolarityTE RTA (Real-time Assistant) web or mobile phone applications (the “App”) or PolarityTE’s software as a service
            (SaaS) HIPAA compliant enterprise messaging solution, real-time package tracking, educational materials, frequently asked questions about the products, and form submission feature (collectively with the App, the “Service”). These Privacy Terms
            also explain how you can manage your information preferences. These Privacy Terms apply to the App and the Service. These Privacy Terms do not apply to other Apps to which we may link. By using the Service you consent to these Privacy Principles.</p>
        <p>These Privacy Terms govern information we collect about Medical Professionals who use the Service (“Providers”) and the data about patients treated by these Providers exchanged on the App as part of the Services.</p>
        <p>Medical Professionals can access the Service through the App, via desktop or laptop computer, mobile phone, tablet, or other consumer electronic device. These Privacy terms govern your use of the Service regardless of how you access the Service,
            and by using the Service you consent to the collection, transfer, processing, storage, disclosure and other uses of your information described by these Privacy Principles.</p>
        <h2>INTRODUCTION</h2>
        <p>The Service is a platform for Medical Professionals to communicate with other medical professionals and/or PolarityTE advisors in a HIPAA compliant manner online while exchanging photos and videos. This Service also allows Medical Professionals
            to gather, edit, add to, store and share protected health information online related to the treatment of their patients and share that information with other designated Medical Professionals or PolarityTE advisors. Medical Providers are also
            able to access educational materials related to PolarityTE’s products, view answers to the most frequently asked questions, track PolarityTE packages in real-time, and submit forms directly to PolarityTE at the touch of a button.</p>
        <p>When you use the Service, the Service collects identifying information about you (e.g., name, cell phone and email address) and, if you are a Medical Professional, your patient communications.</p>
        <h2>SECURITY OVERVIEW</h2>
        <p>The PolarityTE Real-time Assistant (RTA) is HIPAA-compliant. We provide this overview so that you can better understand the security measures we’ve put in place to protect the information that you store using the PolarityTE RTA.</p>
        <h2>SECURE STORAGE &amp; RESERVED INSTANCES</h2>
        <p>All data stored in our databases is symmetrically encrypted. Our secure, encrypted cloud-based server stores all data exchanged through the RTA over several large-scale data centers.</p>
        <h2>USER ACCOUNTS</h2>
        <p>User accounts are password protected. Upon successful entry of a unique email, password and second factor authentication (fingerprint, facial recognition, PIN), the user then gains access to his or her account.</p>
        <h2>PRIVACY</h2>
        <p>We guard your privacy and work hard to protect your information from unauthorized access. Like most online services, we have a small number of employees who must be able to access user data for the reasons stated in the PolarityTE Privacy Principles.</p>
        <h2>COMPLIANCE WITH LAWS AND LAW ENFORCEMENT</h2>
        <p>PolarityTE cooperates with United States law enforcement when it receives valid legal process, which may require PolarityTE to disclose information contained in your PolarityTE profile(s). In the case of being compelled to disclose information
            as above, PolarityTE will decrypt the data before providing them to law enforcement.</p>
        <h2>ACCURACY AND RETENTION</h2>
        <p>You can always review, correct, update, or change your Personal Information through the web or mobile apps. For any further questions or issues using the App you can email the request to <a href="mailto:RTA@PolarityTE.com">RTA@PolarityTE.com. </a>If
            you have questions or concerns regarding this Privacy Policy, please e-mail them to <a href="mailto:RTA@PolarityTE.com">RTA@PolarityTE.com. </a>Please do not email any sensitive information.</p>
        <h2>AUDITING</h2>
        <p>Our auditing process tracks all records that are created, deleted and modified. We also track activity on the App by users, such as, login, page view, viewing images, adding notes and other activity on the App by Medical Professionals.</p>
        <p>PolarityTE understands your rights to reasonable privacy in accordance with HIPAA standards and state laws, and in accordance with our Privacy Policy, will not release protected health information to anyone without your written authorization or
            as required permitted by law, or in accordance with your health insurer’s privacy principles if applicable, or as otherwise disclosed via our Privacy Policy.</p>
        <h2>THE INFORMATION COLLECTED:</h2>
        <p>We may collect and store the following information when you use the Service:</p>
        <p><b>Identifying Information</b></p>
        <p>When you register to create an account with the Service, we collect some information about you, such as your name, email address and phone number. As a Medical Professional, we also may collect information about your medical credentials, such
            as your degree and specialty.</p>
        <p><b>Protected Health Information</b></p>
        <p>You cannot delete or alter any photos and/or information from your account aside from your profile picture or information. While you are able to delete chats, Protected Health Information (PHI) will be stored for a period no less than six years
            in accordance with the privacy and security rules of HIPAA/HITECH/Omnibus Rule.</p>
        <p><b>Financial Information</b></p>
        <p>There is no payment involved in using the Services of the Apps. When a Medical Professional is upgraded to a “Premium Provider”, the provider is able to contact PolarityTE advisors anytime for product-related assistance. Providers who are not
            designated as “Premium Providers” and have not ordered a PolarityTE product are still able to communicate with other providers in a HIPAA compliant manner and are able to contact PolarityTE Customer Service with any questions about the product
            in addition to accessing the educational information about PolarityTE products, answers to frequently asked questions about PolarityTE products, and the secure and direct form submission directly to PolarityTE available as part of the Services.</p>
        <p><b>Analytics Information</b></p>
        <p>When you use the Service, we automatically record information, from the computer, mobile phone or other consumer electronic device you use to access the Service, that device’s software, and your activity using the Service (collectively, “Analytics
            Information”). This may include the device’s Internet Protocol (“IP”) address, browser type, the web pages you visit on our website, information you search for on our website, locale preferences, identification numbers associated with your
            device, your mobile carrier, date and time stamps associated with transactions, system configuration information, captured metadata from photos and video concerning your uploaded health information, and other interactions with the Service.</p>
        <h2>HOW WE USE THE INFORMATION COLLECTED:</h2>
        <p>How we use non-personally identifying information:</p>
        <p>We may use Analytics Information to monitor and analyze use of the Service, for the Service’s technical administration, to increase the Service’s functionality and user-friendliness, and to verify users have the authorization needed for the Service
            to process their requests.</p>
        <p>We may also use, or share with third parties, other non-personally identifying information in the aggregate for the purpose of improving the Service and for business and administrative purposes, or for medical studies of quality, safety, and outcomes.</p>
        <p>How we use personally identifying information:</p>
        <p>We use personally identifying information collected through the Service, including Patients’ protected health information:</p>
        <ul>
            <li>Archive data (including communication and media) related to patients treated with PolarityTE products</li>
        </ul>
        <p>We may also ask you to participate in use surveys, questionnaires or polls, to facilitate feedback and input from our users. When you respond to surveys, questionnaires or polls, this information is collected only as anonymous, aggregated information
            and is used for statistical purposes only.</p>
        <h2>HOW THE SERVICE FACILITATES YOUR SHARING OF HEALTH INFORMATION:</h2>
        <p>A key purpose of the Service is to facilitate the sharing of health information between Medical Professionals in a HIPAA compliant manner and to allow Medical Professionals to interact directly with PolarityTE advisors at the touch of a button
            who can provide product-related assistance and customer service.</p>
        <p>Patients share protected health information with designated Medical Professionals once they have established a Medical Professional - Patient relationship. Once data is shared it will remain shared with the Medical Professional.</p>
        <p>No Medical Professional who accepts a sharing invitation has the ability to use the Service to share a Patient’s health information with third parties, the exception being that Medical Professionals can use or disclose protected health information,
            such as X-rays, laboratory and pathology reports, diagnoses, photos, videos, and other medical information for treatment purposes only without the patient’s authorization. This includes sharing the information to consult with other providers,
            including providers who are not covered entities, to treat a different patient, or to refer the patient.</p>
        <h2>TO WHOM WE DISCLOSE THE INFORMATION WE COLLECT:</h2>
        <p><b>Service Providers</b></p>
        <p>We may permit certain trusted third-party companies and individuals to access your information in connection with their performance of services to help us maintain, operate, analyze, and improve the Service, including but not limited to data storage,
            maintenance services, database management, web analytics and improvement of the Service’s features. These third parties may have access to your information only for purposes of performing these tasks on our behalf and under obligations similar
            to those in these Privacy Terms.</p>
        <p><b>Compliance with Laws and Law Enforcement Requests; Protection of Single Point of Truth, LLC’s Rights</b></p>
        <p>We may disclose personally identifying information to third parties when we have a good faith belief that disclosure is reasonably necessary to (a) comply with a law, regulation or compulsory legal request; (b) protect the safety of any person
            from death or serious bodily injury; (c) prevent fraud or abuse of PolarityTE or its users; or (d) to protect PolarityTE’s property rights. If we provide personally identifying information to a law enforcement agency as set forth above, when
            legally required, we will remove PolarityTE’s encryption from the files before providing them to law enforcement.</p>
        <p><b>Business Transfers</b></p>
        <p>If we are involved in a merger, acquisition, or sale of all or a portion of our assets, personally identifying information may be transferred as part of that transaction, but we will notify providers of this transfer of your information (for example,
            via email and/or a prominent notice on the App). We will also notify you of choices you may have regarding the transfer of your patient’s information.</p>
        <p><b>Disclosure of Non-Personally Identifying Information</b></p>
        <p>We may disclose your non-personally identifying information to third parties as described above under “How we use aggregate non-personally identifying information.” We do not sell, trade or rent your personal information to third parties.</p>
        <p><b>How Long We Keep Your Personally Identifying Information</b></p>
        <p>We will retain copies of communication involving Protected Health Information for a period no less than six years in accordance with the privacy and security rules of HIPAA/HITECH/Omnibus Rule as required by law.</p>
        <p><b>How We Protect Your Personal Information</b></p>
        <p>We follow generally accepted industry standards to protect identifiable health information that is shared through the App. We use firewall barriers, high-grade encryption techniques and authentication procedures, among others, to maintain the
            security of your online session and to protect user accounts and systems from unauthorized access. However, no method of transmission over the Internet or method of electronic storage is 100% secure.</p>
        <p><b>Minors and non-Medical Professionals</b></p>
        <p>The Service is not intended for use by individuals under the age of 18 or non-licensed medical providers. If a patient becomes aware that his or her Medical Provider has provided us with personally identifying information without their consent,
            he or she should contact us at <a href="mailto:RTA@PolarityTE.com">RTA@PolarityTE.com.</a> If we become aware that a Provider has provided personally identifying information without appropriate consent, we will take steps to delete such information
            from our files and notify all relevant parties and authorities.</p>
        <p><b>Revisions of These Privacy Terms</b></p>
        <p>PolarityTE may revise and update these Privacy Terms at any time, without notice to you. We encourage you to periodically check the App to see if there have been any changes to our Privacy Principles that may affect you.</p>
        <p><b>Internet Cookies</b></p>
        <p>An internet cookie is a string of information that a website stores on a visitor’s computer, and that the visitor’s browser provides to the website each time the visitor returns. We use cookies to help us identify and track visitors to the Site,
            their usage of the Site, and their website access preferences. Visitors to the Site who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using the Site, with the caveat that certain features
            of the Site may not function properly without the aid of cookies.</p>
        <p><b>Your Information is Maintained in the United States</b></p>
        <p>Please be aware that we process and store all information in the United States. By using the Services, you agree that the collection, use, transfer, and disclosure of your information and communications will be governed by the applicable laws
            in the United States.</p>
        <p>Under California Civil Code Sections 1798.83-1798.84, California residents are entitled to ask us for a notice identifying the categories of Personal Information which we share with our affiliates and/or third parties for marketing purposes, and
            providing contact information for such affiliates and/or third parties. If you are a California resident and would like a copy of this notice, please submit a written request to <a href="mailto:RTA@PolarityTE.com">RTA@PolarityTE.com.</a></p>
        <p>If you have any questions about these Privacy Principles, please contact us at <a href="mailto:RTA@PolarityTE.com">RTA@PolarityTE.com.</a></p>
    </div>
    <!--end container-->
    <div class="container">
        <br><a href="./assets/rtaApp-assets/terms-conditions/terms.pdf" target="_blank" class="btn download-app-pdf">Download PDF</a> </div>
</div>
<div class="tri-color">
    <div></div>
    <div></div>
    <div></div>
</div>