<div class="tri-color">
    <div></div>
    <div></div>
    <div></div>
</div>
<div class="header">
    <div class="container">
        <h1>FAQ</h1>
        <div class="app-logo"><img src="./assets/rtaApp-assets/product-manual/applogo.png" alt=""></div>
        <div class="clear"></div>
    </div>
    <!--end container-->
</div>
<div class="content main-content">
    <div class="container">

        <ol>
            <li><b>Is SkinTE™ FDA registered?<br></b>Yes, SkinTE™ is registered with and regulated by the FDA as a human cell, tissue, and cellular and tissue-based product (HCT/P) solely under Section 361 of the Public Health Service Act and its implementing
                regulations at 21 CFR 1271. Because SkinTE is an HCT/P regulated solely under Section 361 of the Public Health Service Act, a BLA, PMA, IND, or 510K is not required.</li>
            <li><strong>How does the process work, how soon after I order the product do I receive it, and do I need to store it at a certain temperature?</strong><br>To use SkinTE, you will be sent a harvest box (if you do not already have SkinTE harvest
                boxes at your facility) with all the necessary tools to excise a full-thickness harvest and send it back to our manufacturing facility in the provided FedEx®-NanoCool® box. Appropriate FedEx labels are affixed to the FedEx-NanoCool box
                for return to a PolarityTE manufacturing facility. Once PolarityTE receives a patient's specimen, it is processed and sent back in a SkinTE deployment box within 24-48 hours. The SkinTE deployment box contains a syringe(s) with which to
                deploy the product onto the surface of the wound bed. The product can remain in the deployment box without special storage if it is being used the same day. If the product is not going to be used the same day, we recommend storing the
                deployment box at 4°C until the expiration date. Do not use the product past its expiration date. Please see the Instructions for Use for more information.</li>
            <li><strong>Are there any special dressings or training required to deploy the product? Is there a top or bottom side to the product? How do I make sure I am deploying it the correct way?</strong><br>Please refer to the complete SkinTE Instructions
                for Use (IFU) before using SkinTE. As stated in the IFU, after application, SkinTE should be covered with a non-adherent, occlusive, non-absorbent dressing. The SkinTE deployment box contains recommended dressings (e.g., a silicone sheet)
                for initial coverage. Providers can cover the initial dressing with standard of care dressings as if it were a skin graft, but the primary dressing should be non-adherent, non-absorbent and occlusive. There is no top or bottom to SkinTE:
                the product comes out with the consistency of a liquid/paste, and is deployed via a syringe over the surface of the wound bed. If you have any questions about use of the product, please refer to the Instructions for Use. You may also use
                the HIPAA-compliant Clinical Support feature of our Real-Time Assistant (RTA) application to be connected to a PolarityTE advisor.</li>
            <li><strong>What is the price of the product? How is it reimbursed?<br></strong>PolarityTE contracts with individual hospitals, outpatient surgical centers and clinics, ambulatory surgical centers, and provider offices. The price of the product
                may vary based upon contract and the size of the treatment area. There is also a processing fee for expediting product turnaround to the provider. Reimbursement information, can be obtained by contacting PolarityTE Customer Service at
                1-800-560-3983 or <a href="mailto:CustomerService@PolarityTE.com">CustomerService@PolarityTE.com</a>.</li>
            <li><strong>If I am having problems or if I have questions, is there a sales representative or customer service representative I can speak to?</strong><br>For Customer Service, you can use the PolarityTE Real-Time Assistant (RTA) to connect to
                a PolarityTE advisor via call, text, or video chat, and exchange information within a HIPAA-compliant manner. You can also call or email PolarityTE Customer Service at 1-800-560-3983 or <a href="mailto:CustomerService@PolarityTE.com">CustomerService@PolarityTE.com</a>.</li>
        </ol>
        <h2>Disclaimer</h2>
        <p>The foregoing information is provided for quick reference only and should not under any circumstances be relied upon for complete information about SkinTE™. For complete product information, please refer to the SkinTE Instructions for Use, which
            every provider should read carefully and understand before using SkinTE. PolarityTE provides coding guidance for informational purposes only, and it is subject to change without notice. This FAQ is not an affirmative instruction as to which
            codes and modifiers to use for a particular service, supply, procedure or treatment and does not constitute advice regarding coding, coverage, or payment for PolarityTE products. It is the responsibility of providers, physicians and suppliers
            to determine and submit appropriate codes, charges and modifiers for products, services, supplies, procedures, or treatment furnished or rendered. Providers, physicians and suppliers should contact their third-party payers for specific and
            current information on their coding, coverage, and payment policies. For further detailed product information, including indications for use, contraindications, effects, precautions and warnings, please consult the SkinTE Instructions for
            Use prior to use. The information provided herein is without any other warranty or guarantee of any kind, expressed or implied, as to completeness, accuracy, or otherwise. Current Procedural Terminology (CPT®) copyright 2016 American Medical
            Association (AMA). All Rights Reserved. CPT is a registered trademark of the AMA.</p>
        <h2>About SkinTE™</h2>
        <p>SkinTE™ is a fully autologous (from the patient for the patient), homologous (utilized as a skin substrate) cutaneous construct which should only be used by skilled medical professionals.</p>
        <p>SkinTE™ is intended to be used by physicians or other appropriate healthcare providers for homologous uses of skin tissues/integument. Patients who have suffered from an event, disease, process or acquired deficit that results in the functional
            loss or void of skin/integument systems can use SkinTE™ as an adjunct and/or in place of split-thickness skin grafting, full-thickness grafting, temporizing skin coverage and/or skin substitute products.</p>
        <p>SkinTE™ is regulated by the FDA as an HCT/P solely under Section 361 of the Public Health Service Act and 21 CFR 1271. The FDA has specific regulations governing HCT/Ps. HCT/Ps that meet the criteria for regulation solely under Section 361 of
            the Public Health Service Act and 21 CFR 1271 (361 HCT/Ps) are not subject to pre-market clearance or approval requirements, but are subject to post-market regulatory requirements.</p>
        <p>SkinTE™ is processed and marketed in accordance with the FDA's requirements for human tissue and current good tissue practices (21 CFR 1271).</p>
        <h2>Important Safety Information</h2>
        <p>Poor general medical condition or any pathology that would limit the blood supply and compromise healing, as well as nonvascular surgical sites, should be considered when selecting patients for SkinTE™, as such conditions may compromise successful
            outcomes or lead to sub-optimal results.</p>
        <p>Whenever clinical circumstances require placement in a site that is contaminated or infected, appropriate local and/or systemic anti-infective measures must be taken. Unused or expired tissue product should be discarded according to local, state,
            federal and institutional requirements. Utilization of the SkinTE™ construct, process and/or technology is limited to healthcare professionals and facilities that are capable of handling such tissue products.</p>
        <p>Proper aseptic procedural and/or surgical handling is mandatory when using SkinTE™. Failure to ensure proper aseptic technique may result in contamination of the tissue product and wound bed. Contamination of the tissue product and/or wound bed
            due to failure to ensure aseptic technique could result in local, regional, or systemic infection, partial or complete failure of graft take, healing, and/or regeneration, serious injury, and/or death. Failure to follow instructions may lead
            to sub-optimal outcomes and/or product failure.</p>
        <p>Potential adverse effects may include but are not limited to the following: local tissue, wound bed, regional tissue, or systemic infection, hypersensitive, allergic, or other immune response to the product or trace amounts of antibiotic retained
            from primary harvest, deleterious effects on potential surrounding or adjacent autologous, allogeneic, or xenogeneic grafts, skin substitutes, or other reconstructions including infection and/or failure of adjacent grafted material to take
            and heal, requirement for further surgical operation(s) and/or debridement, or death.</p>
    </div>
    <!--end container-->
    <div class="container">
        <br><a href="./assets/rtaApp-assets/faq/FAQ.pdf" target="_blank" class="btn download-app-pdf">Download PDF</a> </div>
</div>
<div class="tri-color">
    <div></div>
    <div></div>
    <div></div>
</div>