<div class="tri-color">
    <div></div>
    <div></div>
    <div></div>
</div>
<div class="header">
    <div class="container">
        <h1>Deployment Overview</h1>
        <div class="app-logo"><img src="./assets/rtaApp-assets/product-manual/applogo.png" alt=""></div>
        <div class="clear"></div>
    </div>
</div>
<div class="main-content">

    <div class="module-slider">
        <div class="container">
            <div class="row">
                <div class="col-sm-12" style="text-align: left;">
                    <h2>Quick reference overview for deployment box</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="myCarousel" class="carousel slide" data-interval="false">

                <a class="cta previous-step" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-menu-left"></span>
            PREVIOUS STEP</a>
                <a class="cta next-step" href="#myCarousel" data-slide="next">NEXT STEP <span class="glyphicon glyphicon-menu-right"></span></a>
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="step">
                            <div class="instruction">
                                <h3>Open the All-In-One Deployment Box and Ensure All Contents are Intact</h3>
                            </div>
                            <div class="step-images">
                                <div>
                                    <img src="./assets/rtaApp-assets/deployment/image1.jpg" alt="Open the All-In-One Deployment Box and Ensure All Contents are Intact">
                                </div>
                                <div>
                                    <img src="./assets/rtaApp-assets/deployment/image2.jpg" alt="Open the All-In-One Deployment Box and Ensure All Contents are Intact">
                                </div>
                                <div>
                                    <img src="./assets/rtaApp-assets/deployment/image3.jpg" alt="Open the All-In-One Deployment Box and Ensure All Contents are Intact">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="step">
                            <div class="instruction">
                                <h3>Apply SkinTE and Dress the Wound Using Non-Adherent, Occlusive, Non-Absorbent Dressing</h3>
                            </div>
                            <div class="step-images">
                                <div>
                                    <img src="./assets/rtaApp-assets/deployment/image4.jpg" alt="Apply SkinTE and Dress the Wound Using Non-Adherent, Occlusive, Non-Absorbent Dressing">
                                </div>
                                <div>
                                    <img src="./assets/rtaApp-assets/deployment/image5.jpg" alt="Apply SkinTE and Dress the Wound Using Non-Adherent, Occlusive, Non-Absorbent Dressing">
                                </div>
                            </div>
                        </div>
                    </div>


                </div>


                <a class="cta previous-step" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-menu-left"></span>
            PREVIOUS STEP</a>
                <a class="cta next-step" href="#myCarousel" data-slide="next">NEXT STEP <span class="glyphicon glyphicon-menu-right"></span></a>

            </div>
        </div>
    </div>


    <div class="container">
        <br><a href="./assets/rtaApp-assets/deployment/overview_deploymentProcess.pdf" target="_blank" class="btn download-app-pdf">Download
        PDF</a> </div>
</div>
<div class="tri-color">
    <div></div>
    <div></div>
    <div></div>
</div>