<app-header></app-header>
<app-sub-header [subNavArr]="dataSrc[2].children" [subNavArr2]='dataSrc[2]'>
</app-sub-header>
<div class="landing-wrapper">
    <div id="products-page-banner" style="background: url(./assets/products-assets/pte_products_hero.jpg);background-position: 50% 50%;background-repeat: no-repeat;background-size: cover;">
        <div class="vertical-align">
            <div class="wrapper text">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="bounceInUp">Products</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-banner" style="border-top: 5px solid #e8e8e8;background: url(./assets/products-assets/partner_subheading_bg.jpg);background-position: 50% 50%;background-repeat: no-repeat;background-size: cover">
        <div class="vertical-align" style="height: 400px;">
            <div class="wrapper text">
                <div class="text">
                    <h2>Regenerating Tissue for a Variety of Markets</h2>
                </div>
                <div class="col-md-12 col-lg-12 col-xl-8 offset-xl-2">
                    <div class="text">
                        <p>Our platform technology is being developed to help simplify regeneration and allow cellular entities and tissue substrates to propagate and function naturally. With our launch of SkinTE, we aim to be the first company to supply
                            an autologous homologous construct to regenerate a patient’s full-thickness skin when necessary due to a variety of injuries and conditions.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-banner3" style="border-top: 5px solid #f5b9a7; background: url(./assets/products-assets/skinBG.jpg);background-position: 50% 50%;background-repeat: no-repeat;background-size: cover;">

        <div class="row ">
            <div class='col-sm-6 col-md-6 col-lg-5 offset-lg-1'>
                <div class="vertical-align ">
                    <div class="wrapper text">
                        <img class='left_side_ball' src="./assets/products-assets/skinBall.png" alt="skinBall">

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-5 offset-lg-1">
                <div class="vertical-align ">
                    <div class="wrapper text">
                        <div class="text ">
                            <h2>SkinTE™</h2>
                            <div class='under_line'></div>
                            <p>A simple process is being developed to allow PolarityTE to utilize a small sample of a patient's own skin to deliver functionally-polarized fully functional skin regeneration.</p>
                            <a style="min-width:230px;" [routerLink]="['/products/skinTE-patients']" class="btn">SkinTE For Patients</a>
                            <a style="min-width:230px;" [routerLink]="['/products/skinTE-providers']" class="btn">SkinTE For Providers</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-banner2" style="border-top: 5px solid #c2bcc0; background: url(./assets/products-assets/osteoBG.jpg);background-position: 50% 50%;background-repeat: no-repeat;background-size: cover;">
        <div class="row ">

            <div class="col-sm-6 col-md-6 col-lg-5 offset-lg-1">
                <div class="vertical-align ">
                    <div class="wrapper text">
                        <div class="text ">
                            <h2>OsteoTE™</h2>
                            <div class='under_line'></div>
                            <p>In preclinical models, both cortical and cancellous bone were regenerated using the PolarityTE Platform, which has never been seen before.</p> <a routerLink="/products/osteoTE" class="btn ">Learn More About OsteoTE</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class='col-sm-6 col-md-6 col-lg-5 offset-lg-1'>
                <div class="vertical-align ">
                    <div class="wrapper text">
                        <img class='right_side_ball' src="./assets/products-assets/osteoBall.png" alt="OsteoBall"> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-banner3" style="border-top: 5px solid #3672d3; background: url(./assets/products-assets/cartBG.jpg);background-position: 50% 50%;background-repeat: no-repeat;background-size: cover;">
        <div class="row ">
            <div class='col-sm-6 col-md-6 col-lg-5 offset-lg-1'>
                <div class="vertical-align ">
                    <div class="wrapper text">
                        <img class='left_side_ball' src="./assets/products-assets/cartBall.png" alt="CartBall"> </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-5 offset-lg-1">
                <div class="vertical-align ">
                    <div class="wrapper text">
                        <div class="text ">
                            <h2>CartTE™</h2>
                            <div class='under_line'></div>
                            <p>Cartilage regeneration may be right around the corner with the PolarityTE platform, which could allow us to battle arthritis with an appropriate weapon - autologous tissue.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-banner2" style="border-top: 5px solid #b24a6d; background: url(./assets/products-assets/myoBG.jpg);background-position: 50% 50%;background-repeat: no-repeat;background-size: cover;">
        <div class="row ">

            <div class="col-sm-6 col-md-6 col-lg-5 offset-lg-1">
                <div class="vertical-align ">
                    <div class="wrapper text">
                        <div class="text ">
                            <h2>MyoTE™</h2>
                            <div class='under_line'></div>
                            <p>It's time to up the game for soft tissue reconstruction. How about muscle regeneration? At PolarityTE, we aim to make contractile skeletal muscle constructs a reality.</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class='col-sm-6 col-md-6 col-lg-5 offset-lg-1'>
                <div class="vertical-align ">
                    <div class="wrapper text">
                        <img class='right_side_ball' src="./assets/products-assets/myoBall.png" alt="myoBall"> </div>
                </div>
            </div>
        </div>

    </div>
    <div class="page-banner3" style="border-top: 5px solid #9b4b9e; background: url(./assets/products-assets/angioBG.jpg);background-position: 50% 50%;background-repeat: no-repeat;background-size: cover;">
        <div class="row ">
            <div class='col-sm-6 col-md-6 col-lg-5 offset-lg-1'>
                <div class="vertical-align ">
                    <div class="wrapper text">
                        <img class='left_side_ball' src="./assets/products-assets/angioBall.png" alt="AngioBall"> </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-5 offset-lg-1">
                <div class="vertical-align ">
                    <div class="wrapper text">
                        <div class="text ">
                            <h2>AngioTE™</h2>
                            <div class='under_line'></div>
                            <p>The Holy Grail of tissue engineering - capillary bed formation and a vascular supply. PolarityTE aims to pull it off. Welcome to the Shift&reg;.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-banner2" style="border-top: 5px solid #d2b790; background: url(./assets/products-assets/neuralBG.jpg);background-position: 50% 50%;background-repeat: no-repeat;background-size: cover;">
        <div class="row ">

            <div class="col-sm-6 col-md-6 col-lg-5 offset-lg-1">
                <div class="vertical-align ">
                    <div class="wrapper text">
                        <div class="text ">
                            <h2>NeuroTE™</h2>
                            <div class='under_line'></div>
                            <p>Peripheral nerve regeneration has been lacking a key component for decades – cellular support. PolarityTE plans to change that.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-sm-6 col-md-6 col-lg-5 offset-lg-1'>
                <div class="vertical-align ">
                    <div class="wrapper text">
                        <img class='right_side_ball' src="./assets/products-assets/neuralBall.png" alt="NeuralBall"> </div>
                </div>
            </div>
        </div>

    </div>
    <div class="page-banner3" style="border-top: 5px solid #fdc07f; background: url(./assets/products-assets/adiposeBG.jpg);background-position: 50% 50%;background-repeat: no-repeat;background-size: cover;">
        <div class="row ">
            <div class='col-sm-6 col-md-6 col-lg-5 offset-lg-1'>
                <div class="vertical-align ">
                    <div class="wrapper text">
                        <img class='left_side_ball' src="./assets/products-assets/adiposeBall.png" alt="AdiposeBall"> </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-5 offset-lg-1">
                <div class="vertical-align ">
                    <div class="wrapper text">
                        <div class="text ">
                            <h2>AdipoTE™</h2>
                            <div class='under_line'></div>
                            <p>Fat grafting has disrupted the field of plastic and reconstructive surgery in recent years. What if you could have an endless supply of fat for future application after a single harvest? On demand autologous fat for your patients?
                                That’s where we’re headed.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <app-footer></app-footer>
</div>