<app-header></app-header>
<app-sub-header [subNavArr]="dataSrc[2].children" [subNavArr2]='dataSrc[2]'>
</app-sub-header>
<div class="page-banner overlay video" style="background-color:#000;">
    <div class="vertical-align">
        <img src="./assets/skintepatients-assets/ste_forPatients_heroBanner_v68p.jpg" id='skinte_bg_68'>
        <img src="./assets/skintepatients-assets/ste_forPatients_heroBanner_v75p.jpg" id='skinte_bg_75'>
    </div>
</div>
<div class="page-banner3" style="border-top: 5px solid #fe8769; background: url(./assets/skintepatients-assets/skin_bg.jpg);background-position: 50% 50%;background-repeat: no-repeat;background-size: cover;">
    <div class=" vertical-align ">
        <div class="row">
            <div class='col-sm-12 col-md-6 col-lg-6' style="text-align: center"> <img id="skin_cube" src="./assets/skintepatients-assets/skinCube_wLabels.png" alt="SkinCube"> </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="vertical-align ">
                    <div class="wrapper text">
                        <div class="text ">
                            <h2>What is SkinTE? </h2>
                            <div class='under_line' style="background: #fe8769;"></div>
                            <p>SkinTE is a first-of-its-kind human cellular and tissue-based product derived from a patient’s own skin to regenerate full-thickness,&nbsp;functional skin with all its layers (epidermis, dermis and hypodermis) and appendages,&nbsp;including
                                hair follicles and glands. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="module-title-content dark " style="background: url(./assets/skintepatients-assets/intendedUse.jpg);background-position: 50% 50%;background-repeat: no-repeat;background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1">
                <div class="text wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="module-title center">
                        <h2>What are the intended uses of SkinTE?</h2>
                    </div>
                    <p>SkinTE can be used by physicians and other medical providers to repair, reconstruct, replace or supplement a patient's damaged or missing skin tissue. It is currently being used by providers for the treatment of:</p>
                    <ul>
                        <li>Wounds (acute & chronic)</li>
                        <li>Surgical reconstruction events</li>
                        <li> Burns (acute, subacute & burn reconstruction) </li>
                        <li>Scar revision</li>
                        <li>Traumatic injuries</li>
                        <li>Replacement of skin grafts or failed flap coverage</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-banner-text-right" style="border-top: 5px solid #a49d9f; background: url(./assets/skintepatients-assets/skinte_process_bg.jpg);background-position: 50% 44%;background-repeat: no-repeat;background-size: cover;">
    <div class=" vertical-align ">
        <div class="wrapper text">
            <div class="row ">
                <div class="col-md-6 col-lg-6 col-sm-12 col-md-offset-6 offset-lg-6">
                    <div class="text ">
                        <h2>How is SkinTE used?</h2>
                        <div class='under_line' style="background: #a49d9f"></div>
                        <ol>

                            <li>
                                Provider uses materials from the all-inclusive Harvest Box to take a small, full-thickness skin sample from the patient and return it to PolarityTE in the provided parcel.
                            </li>
                            <li>
                                PolarityTE manufactures SkinTE.
                            </li>
                            <li>
                                SkinTE is contained within a syringe and is returned to provider in all-inclusive Deployment Box as soon as same day, and typically within 48-72 hours based on providers’ requests.
                            </li>
                            <li>
                                Provider applies SkinTE to patient’s wound/defect, covers with dressings and cares for wound/defect similar to standard of care for skin grafts.
                            </li>

                        </ol>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-md-offset-6 offset-lg-6 visible-sm visible-xs">
                    <div class="image-wrapper center">
                        <img src="./assets/skintepatients-assets/skinte_process_bg_mobile.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-banner-video"> <iframe width="100%" height="100%" [src]='videoURL | safe' frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>

<div class="page-banner2" style="position: relative;border-top: 5px solid #69a1ee;background: url(./assets/skintepatients-assets/ste_flyerRight_ren01.jpg);background-position: 50% 50%;background-repeat: no-repeat;background-size: cover;">
    <div class="vertical-align">
        <div class="wrapper text">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-5 offset-lg-1">
                    <div class="text">
                        <h2>How to receive treatment with SkinTE? </h2>
                        <div class='under_line' style="background: #69a1ee"></div>
                        <p>Whether an individual patient’s particular condition may be appropriate for treatment with SkinTE is a medical decision to be determined in consultation with a licensed and trained medical provider. To pursue treatment with SkinTE,
                            patients should see their medical provider who can contact PolarityTE to obtain approval to use SkinTE at their desired health facility or refer to a medical provider or facility already approved for SkinTE treatment according
                            to the specific case. SkinTE is currently only being used in the United States.</p> <a class="btn" href="https://vac.polarityte.com/assets/pdfs/Patient_Materials/SkinTE_PatientGuide.pdf" target="_blank">View SkinTE Brochure</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-md-offset-6 offset-lg-6 visible-sm visible-xs">
                    <div class="image-wrapper center">
                        <img src="./assets/skintepatients-assets/ste_flyerRight_ren01_mobile.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-banner-text-right" style="border-top: 5px solid #69c0ed; background: url(./assets/skintepatients-assets/ste_flyerLeft_ren01.jpg);background-position: 40% 50%;background-repeat: no-repeat;background-size: cover;">
    <div class=" vertical-align ">
        <div class="wrapper text">
            <div class="row ">
                <div class="col-md-6 col-lg-6 col-sm-12 col-md-offset-6 offset-lg-6">
                    <div class="text ">
                        <h2>How can medical providers access SkinTE for their patients?</h2>
                        <div class='under_line' style="background: #69c0ed; "></div>
                        <p>Providers can contact PolarityTE directly at <a style="color: #69A1EE;" href="mailto:Clinicaloperations@polarityTE.com">
                clinicaloperations@polarityTE.com</a> for more information about clinical use of SkinTE.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-md-offset-6 offset-lg-6 visible-sm visible-xs">
                    <div class="image-wrapper center">
                        <img src="./assets/skintepatients-assets/ste_flyerLeft_ren01_mobile.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='que-form'>
    <div class="module-form">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-12 col-md-offset-1">
                    <div class="heading-center">
                        <h1>Still have more questions?</h1>
                        <h1>Tell us more below.</h1>
                    </div>

                    <form ngNoForm action="https://www.b2i.us/profiles/investor/FormHandler.asp" target="_self" method="POST">
                        <input type="hidden" name="BzID" value="2361" />
                        <input type="hidden" name="FormKey" value="22e2c9i6r6d3l5p" />
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6 ">
                                <div class="form-group"><label for="first_name_f">First Name&nbsp;<span aria-required="true" class="required">(required)</span></label><input required class=" form-control s" id="first_name_f" maxlength="40" minlength="2" name="firstname" type="text"
                                        value=""></div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 ">
                                <div class="form-group"><label for="last_name_f">Last Name&nbsp;<span aria-required="true" class="required">(required)</span></label><input required class=" form-control lettersonly" id="last_name_f" maxlength="40" minlength="2" name="lastname"
                                        type="text" value=""></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12 col-md-6"><label for="email_f">Email&nbsp;<span aria-required="true" class="required">(required)</span>
                </label><input required class=" form-control" id="email_f" name="email" type="email" value=""></div>
                        </div>
                        <div class="form-group"><label for="message_f">Message&nbsp;<span aria-required="true" class="required">(required)</span>
              </label><textarea aria-required="true" class=" form-control" cols="30" id="message_f" name="comments" rows="6"></textarea></div>
                        <div cols="30" class="form-group submit-group col-sm-12 col-md-6 ">

                            I am not a robot, to verify please answer 8+7 is equal to <input required name="Challenge" type="text" value="" class="form-control" />
                        </div>
                        <br>
                        <div class=" col-sm-12 submit-group">
                            <button style="background:transparent;" class="btn" type="submit">Submit</button>
                            <p id='about_skinte' class="privacy-note">We respect your privacy. We do not sell, rent, or loan any information to any third party. Any information you give us is held with the utmost care and security, and will be used only in ways to which you have consented.</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-banner2" style="position: relative;background-color: #000;background-position: 50% 50%;background-repeat: no-repeat;background-size: cover; ">
    <div class="vertical-align" style="height: 450px;padding: 0">
        <div class="wrapper text">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="text about-text" style="max-width:70%">
                        <p>
                            <h4>About SkinTE™</h4>
                            SkinTE is a fully autologous (from the patient for the patient), homologous (utilized as a skin substrate) cutaneous construct which should only be used by skilled medical professionals.<br>
                            <br> SkinTE is intended to be used by physicians or other appropriate healthcare providers for homologous uses of skin tissues/integument.
                            <br><br>SkinTE is processed and marketed in accordance with the FDA's requirements for human cellular, tissue, and cellular and tissue-based products, and current good tissue practices (21 CFR 1271).

                            <p>
                                <h4 style="font-style:italic">Important Safety Information</h4>

                                Proper aseptic procedural and/or surgical handling is mandatory when using SkinTE. Failure to ensure proper aseptic technique may result in contamination of the tissue product and wound bed. Contamination of the tissue product and/or wound bed due to
                                failure to ensure aseptic technique could result in local, regional, or systemic infection, partial or complete failure of graft take, healing, and/or regeneration, serious injury, and/or death. Failure to follow instructions
                                may lead to sub-optimal outcomes and/or product failure. Pathology that would limit the blood supply and compromise healing, nonvascular surgical sites, and general medical condition should be considered when selecting
                                patients for SkinTE. Such conditions may compromise successful outcomes or lead to sub-optimal results.<br><br>Potential adverse effects may include but are not limited to the following:
                                local tissue, wound bed, regional tissue, or systemic infection, hypersensitive, allergic, or other immune response to the product or trace amounts of antibiotic retained from primary harvest, deleterious effects on potential
                                surrounding or adjacent autologous, allogeneic, or xenogeneic grafts, skin substitutes, or other reconstructions including infection and/or failure of adjacent grafted material to take and heal, requirement for further
                                surgical operations(s) and/or debridement, or death.

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>