<app-header></app-header>
<app-sub-header [subNavArr]="dataSrc[0].children" [subNavArr2]='dataSrc[0]'>
</app-sub-header>
<div id="values-page-banner" style="background: url(./assets/Values-assets/Values.jpg);position:relative;background-position: 50% 60%;background-repeat: no-repeat;background-size: cover;">
    <div class="container">
        <div class="vertical-align">
            <div class="wrapper text">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="bounceInUp">Values</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-banner" style="position: relative;border-top: 5px solid #99b6d1;background: url(./assets/Values-assets/CoreValue.jpg);background-position: 50% 75%;background-repeat: no-repeat;background-size: cover;">
    <div class="vertical-align">
        <div class="wrapper text">
            <div class="text" data-aos="fade-up" data-aos-once="false" data-aos-delay="1500">
                <h2>PolarityTE is guided by our core values.</h2>
                <p>We are a company created by providers for providers and the patients they serve. Our founders left the practice of medicine to be able to serve more patients on a greater scale. Patients, providers and the advancement of all humanity is
                    at the center of our work, and we are committed to upholding ethical, professional and legal standards as members of the medical and broader global community. </p>
            </div>
        </div>
    </div>
</div>
<div class="page-banner2" style="position: relative;border-top: 5px solid #fbfaf9;background: url(./assets/Values-assets/ComplexSimplicity.jpg);background-position: 50% 45%;background-repeat: no-repeat;background-size: cover;">
    <div class="vertical-align">
        <div class="wrapper text">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-6 col-lg-offset-1">

                    <div class="text" data-aos="slide-right" data-aos-once="false">
                        <h2>Inspired by Complex Simplicity</h2>
                        <p>We appreciate that simplicity drives even the most complex systems—we acknowledge and investigate this reality to make ground-breaking discoveries and progress.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-banner3" style="position: relative;border-top: 5px solid #1c4f91; background: url(./assets/Values-assets/PatientProvider.jpg);background-position: 50% 50%;background-repeat: no-repeat;background-size: cover;">
    <div class="vertical-align">
        <div class="wrapper text">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-6 col-lg-offset-5">
                    <div class="text" data-aos="slide-left" data-aos-once="false">
                        <h2>Patient and Provider Driven</h2>
                        <p>We employ leading healthcare professionals and draw on their clinical experiences to ensure that the needs of providers and patients are at the center of all our work.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-banner2" style="position: relative;border-top: 5px solid #fbfaf9; background: url(./assets/Values-assets/ResponsibleLeaders.jpg) no-repeat;background-position: 50% 50%;background-size: cover;background-attachment: fixed;">
    <div class="vertical-align">
        <div class="wrapper text">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-6 col-lg-offset-1">
                    <div class="text" data-aos="slide-right" data-aos-once="false">
                        <h2>Responsible Leaders</h2>
                        <p>We are committed to leading in every aspect of what we do—working deliberately with passion, intellect and integrity both as individuals and as pioneers in regenerative medicine.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-banner3" style="position: relative;border-top: 5px solid #5a03bf; background: url(./assets/Values-assets/DecidedlyDaring.jpg);background-position: 50% 50%;background-repeat: no-repeat;background-size: cover;">
    <div class="vertical-align">
        <div class="wrapper text">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-6 col-lg-offset-5">
                    <div class="text" data-aos="slide-left" data-aos-once="false">
                        <h2>Decidedly Daring</h2>
                        <p>We commit to growing, adapting and seeking better solutions. Innovation comes from recognizing and learning from failure. Everyone fails—it is what you make of it that leads to something audacious.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-banner2" style="position: relative;border-top: 5px solid #008eae; background: url(./assets/Values-assets/ExceptionallyDifferent.jpg);background-position: 50% 50%;background-repeat: no-repeat;background-size: cover;">
    <div class="vertical-align">
        <div class="wrapper text">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-6 col-lg-offset-1">
                    <div class="text" data-aos="slide-right" data-aos-once="false">
                        <h2>Exceptionally Different</h2>
                        <p>We create new paradigms through diverse thinking, experience and knowledge—approaching everything we do from a new and transformative perspective.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>