<app-header></app-header>
<app-sub-header [subNavArr]="dataSrc[4].children" [subNavArr2]='dataSrc[4]'></app-sub-header>
<div class="page-banner overlay video">
    <div class="vertical-align">
        <img src="./assets/sec-filings-assets/sec_filings_banner.jpg" id='sec_img_bg'>
        <div class="wrapper text">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="bounceInUp">SEC Filings</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="SECdiv"></div>


<app-footer></app-footer>