<div class="tri-color">
    <div></div>
    <div></div>
    <div></div>
</div>
<div class="header">
    <div class="container">
        <h1>EULA</h1>
        <div class="app-logo"><img src="./assets/rtaApp-assets/eula/applogo.png" alt=""></div>
        <div class="clear"></div>
    </div>
</div>
<div class="content main-content">
    <div class="container">

        <p>Please read this End User License Agreement (this "EULA") carefully before accessing, downloading or using the Services (as defined below). By accessing, downloading or using the Services, you and/or any entity for which you act on behalf of (the
            person or entity to use the Services, "User") agree to be bound by the terms of this EULA. If User is an entity, the term User shall include User, and all of User's affiliates, employees, representatives, contractors, and users of the Services.
            The agreement by an employee, consultant or contractor acting on behalf of an entity to these terms will be deemed to be the agreement of that entity. Any such employee, consultant or contractor hereby represents and warrants that he, she
            or it has authority, or has been provided authority, to bind the entity to the terms and conditions of this EULA.</p>
        <p>PolarityTE, Inc., a Delaware corporation ("PolarityTE") is only willing to grant User access to the Services upon the condition that User accepts all of the terms contained herein. If User and PolarityTE have both executed a written User Agreement
            which governs access to or use of the Services, then the terms of the User Agreement shall govern and control to the extent there is a direct conflict between the terms of this EULA and the terms of the User Agreement.</p>
        <p>Each of User and PolarityTE may be referred to herein as a "party," and User and PolarityTE together may be referred to as the "parties."</p>
        <h2>PERMITTED USES AND RESTRICTIONS</h2>
        <p>"Services" means the HIPAA-compliant communication solution, real-time product tracking, product instructions and related documents, terms and conditions and privacy principles, frequently asked questions (FAQ), and the form submission feature
            provided by PolarityTE, including all software and support services necessary to ensure the functionality and availability of these features.</p>
        <p>Subject to the terms and conditions of this EULA, during the applicable EULA Term (as defined below), PolarityTE grants User a non-exclusive, non- transferable and non-sub licensable right for User to access, download and use the Services in conjunction
            with User's internal business purposes and in accordance with PolarityTE's applicable documentation. PolarityTE has exclusive rights to grant "premium" access to Users allowing HIPAA- compliant communication with PolarityTE advisors.</p>
        <p>User is granted permission to access, download and use the Services, provided that User shall:</p>
        <ul>
            <li>Not use the Services for any illegal or unauthorized purpose or beyond the scope of the Services expected use;</li>
            <li>Not use the Services with the intent to: diagnose, cure, mitigate, prevent, or treat a disease, or trigger immediate clinical action</li>
            <li>Not intentionally interfere with the operation of the Services or with any other person's use of the Services;</li>
            <li>Not intentionally gain unauthorized access to the Services;</li>
            <li>Not use the Services in excess of or beyond the maximum number of registered users and/or devices that User has agreed to;</li>
            <li>Be solely liable for User's, including without limitation all of its employees, affiliates, consultants, service providers, and users conduct, acts and omissions;</li>
            <li>Not alter, modify, adapt, reverse engineer, decompile, disassemble or hack the Services, or create derivative works from the Services;</li>
            <li>Not merge the Services with other software;</li>
            <li>Not resell, sell, lease, lend, redistribute, sublicense, assign or otherwise transfer the Services to any third party;</li>
            <li>Not reverse engineer, decompile, disassemble, or otherwise attempt to derive the source code for the Services;</li>
            <li>Not remove or alter any copyright notices or other notices included in the Services;</li>
            <li>Not alter or modify another website so as to falsely imply that it is associated with PolarityTE;</li>
            <li>Not use the Services to create or transmit unwanted email, junk email, bulk email, promotions, spam or content that includes any advertising;</li>
            <li>Not intentionally transmit any viruses, bugs, worms, or any other computer code of a destructive nature or that may harm a network, computer, server, hardware, software or telephone equipment using the Services;</li>
            <li>Not violate anyone else's legal rights (e.g. privacy rights) or any laws (e.g. copyright laws) in User's jurisdiction while using the Services;</li>
            <li>Remain solely responsible for any message data sent from User's account;</li>
            <li>Use the Services in accordance with all applicable laws;</li>
            <li>Not use any data mining, robots, or similar data gathering and extraction methods in connection with the Services;</li>
            <li>Not impose an unreasonable burden on the Services or network;</li>
            <li>Not breach, or attempt to breach, the security of the Services;</li>
            <li>Not use the Services or export the Services in violation of U.S. export laws and regulations;</li>
            <li>Not solicit any activity, unlawful or otherwise, that infringes PolarityTE's rights or the rights of any other party;</li>
            <li>Not enable others to violate any of these terms and conditions; and</li>
            <li>Ensure that all users of the Services are at least 18 years of age or</li>
        </ul>
        <p>A violation of any of the terms in this EULA by User may result in the termination of User's PolarityTE account and User's ability to access or use the Services.</p>
        <p>User acknowledges that the Services, and their respective structures, organization, documentation, software and source code constitute valuable intellectual property of PolarityTE and are owned solely by PolarityTE. PolarityTE does not grant and
            User acknowledges that it shall have no right, license or interest in any of the patents, copyrights, trademarks, or trade secrets owned, used or claimed now or in the future by PolarityTE. No title to or ownership of the intellectual property
            contained in the Services, the software, or any part of the Services or the software, as well as all enhancements, updates, modifications, local versions or any derivatives of the Services or the software, or any and all intellectual property
            and proprietary rights therein, or PolarityTE's confidential information is transferred to User.</p>
        <p>"PolarityTE" and other PolarityTE graphics, logos, designs, page headers, button icons, scripts and service names are trademarks in the United States and other countries. PolarityTE's trademarks and trade dress, as well as third party trademarks,
            logos and service marks used in conjunction with the Services, may not be used in connection with any product or service in any manner that is likely to cause confusion and may not be copied, imitated, or used, in whole or in part, without
            the prior written permission of PolarityTE.</p>
        <h2>USER ACKNOWLEDGEMENT</h2>
        <p>User represents and warrants that User fully understands and acknowledges that (i) the Services are intended to deliver non-critical, non-emergency messages between users; (ii) the Services are dependent upon a number of factors outside the control
            of PolarityTE, including but not limited to, the operation of third party provided hardware and network services; (iii) the Services are not a substitute for any of User's current systems of administering and safeguarding medical treatment
            and/or medicine; (iv) there may be occasional communication failures or delays in the delivery or receipt of properly sent PolarityTE messages, and (v) the Services are not expected to perform at the same level of performance and/or reliability
            or trigger immediate clinical action as one might expect from medical devices used in the delivery of critical medical care environments. The services or software functions provided by PolarityTE are meant to assist Users by providing product
            information and customer service, providing administrative support, exchanging patient data, and enhancing communication. User understands that the services provided by PolarityTE are not meant to be used as a diagnostic tool.</p>
        <h2>SERVICES UPDATES</h2>
        <p>By using the Services, User grants PolarityTE permission to send all User end users messages regarding the Services, its features, service alerts, and network activity. Notwithstanding the foregoing, it is User's responsibility to register for
            updates from, and/or regularly check, PolarityTE's webpage through the web-based application at <u>https://rta.polarityte.com</u>. User's continued use of the Services after such updates will constitute its acceptance of the changes.</p>
        <h2>TERM AND TERMINATION</h2>
        <p>This EULA shall be effective as of the date User accepts the terms herein or first accesses, downloads or uses any of the Services (the"Effective Date") and shall remain in effect for so long as User uses or accesses any of the Services (the "EULA
            Term"). Upon termination of the EULA Term, User shall no longer be permitted to use or access the Services. The terms herein that contemplate obligations after the EULA Term, including but not limited to Indemnification, Disclaimer, Limitation
            of Liability, Controlling Law and Severability, and Confidentiality, shall survive termination.</p>
        <h2>RTA PRIVACY PRINCIPLES</h2>
        <p>This EULA is subject to User's acceptance of the terms and conditions set forth in PolarityTE's RTA Privacy Principles, the terms of which are hereby incorporated herein, and which can be found at&nbsp;<a href="https://www.polarityte.com/terms"
                target="_blank">https://www.polarityte.com/terms</a>. The terms and conditions set forth in PolarityTE's Privacy Principles may be changed by PolarityTE in its sole discretion and those changes become effective upon posting. It is User's responsibility
            to review the RTA Privacy Principles for revisions.</p>
        <h2>ENTERPRISE ACCOUNTS, SUPPORT, IMPLEMENTATION AND PROFESSIONAL SERVICES</h2>
        <p>All enterprises desiring premium access at a related domain (or domains) will be required to enter into a Subscription Agreement with PolarityTE. A subscription agreement with PolarityTE entitles User to the level of support included in User's
            subscription package, which shall include, at a minimum, standard PolarityTE customer support via phone or email and standard customer training, including a self-onboarding email. Access to professional services, including communication with
            PolarityTE's advisors and Clinical Operations officers can be arranged through premium access with a subscription by User. All such additional services delivered by PolarityTE shall be subject to the terms and conditions of this EULA.</p>
        <h2>USER DATA</h2>
        <p>User shall own all of User's message data, text, information, screen names, graphics, photos, profiles, audio and video clips, links and other content and materials that User submits and/or transmits using the Services, (collectively, "Data"),
            and PolarityTE acknowledges that it will not acquire any rights in Data. PolarityTE shall only use Data to fulfill its contractual obligations and provide protections under HIPAA/HITECH/Omnibus Rule. User shall be fully liable and responsible
            to ensure that Data does not violate any law, regulation or the terms herein. PolarityTE shall maintain a backup of Data on PolarityTE systems. All Data will be processed and stored on a HIPAA-compliant cloud-based server within the geographic
            limits of the United States of America for a period not to exceed 6 years. Upon the termination of User's PolarityTE account, newly acquired Data will no longer be stored on PolarityTE's systems while prior data will be stored for a period
            no longer than 6 years.</p>
        <h2>PRIVACY AND SECURITY</h2>
        <p>PolarityTE will comply with data breach laws and industry standards in the United States of America, including but not limited to HIPAA, HITECH, and Omnibus rule. PolarityTE and any subcontractors to whom Data is provided shall maintain a comprehensive
            data security program, which shall include reasonable and appropriate technical, organizational and security measures against the destruction, loss, unauthorized access or alteration of Data in the possession of PolarityTE or its subcontractors,
            and which shall be (i) no less rigorous than those maintained by PolarityTE for its own information of a similar nature, and (ii) no less rigorous than typical security standards in the industry.</p>
        <h2>MULTI-ORG USERS</h2>
        <p>User acknowledges that some of its authorized end users may desire to work with other healthcare organizations and that the authorized end users of other healthcare organizations may desire to work with User (each such authorized end user shall
            be referred to as a "Multi-Org User"). In order to facilitate use of the Services for Multi-Org Users, and not withstanding anything to the contrary in any other document, User gives PolarityTE permission to share the name, mobile phone number,
            email address, job title and department of Multi-Org Users ("Contact Details") with applicable organizations, including User, and User shall be required to treat such Contact Details in the same manner it treats other Confidential Information.</p>
        <h2>CONFIDENTIAL INFORMATION</h2>
        <p>"Confidential Information" means any non-public data, information and other materials regarding the products, software, services, prices and discounts, or business of a party (and/or of third parties, to the extent a party is bound to protect
            the confidentiality of any third 'parties' information) provided by a party, its employees, contractors or affiliates ("Disclosing Party") to the other party ("Receiving Party") where such information is marked or otherwise communicated as
            being "proprietary" or "confidential" or the like, or where such information should, by its nature, be reasonably considered to be confidential and/or proprietary. The parties agree, without limiting the foregoing, that any performance and
            security data, product roadmaps, source code, benchmark results, and technical information relating to the Services, including pricing information, shall be deemed the Confidential Information of PolarityTE. Notwithstanding the foregoing,
            Confidential Information shall not include information which: (i) is already known to the Receiving Party without the obligations of confidentiality prior to disclosure by the Disclosing Party; (ii) becomes publicly available without fault
            of the Receiving Party; (iii) is rightfully obtained by the Receiving Party from a third party without restriction as to disclosure, or is approved for release by written authorization of the Disclosing Party; (iv) is independently developed
            or created by the Receiving Party without use of the Disclosing Party's Confidential Information; or (v) is required to be disclosed by law or governmental regulation, provided that the Receiving Party provides reasonable notice to Disclosing
            Party of such required disclosure to the extent allowed by applicable law, and reasonably cooperates with the Disclosing Party in limiting such disclosure. Except as expressly authorized herein, the Receiving Party shall: (i) use the Confidential
            Information of the Disclosing Party only to perform hereunder or exercise rights granted to it hereunder; and (ii) treat all Confidential Information of the Disclosing Party in the same manner as it treats its own similar proprietary information,
            but in no case will the degree of care be less than reasonable care.</p>
        <h2>INDEMNIFICATION</h2>
        <p>User agrees to defend, indemnify, hold harmless and defend PolarityTE and its officers, shareholders, predecessors, successors in interest, directors,</p>
        <br>
        <p>employees, agents, subsidiaries, affiliates, licensors and suppliers from and against any and all claims, charges, complaints, damages, losses, liabilities, costs and expenses (including attorneys' fees and expert fees) due to, arising out of
            or relating in any way to User's use of, or access to, the Services.</p>
        <h2>DISCLAIMER</h2>
        <p>USER EXPRESSLY ACKNOWLEDGES AND AGREES THAT, TO THE EXTENT PERMITTED BY APPLICABLE LAW, USE OF THE SERVICES IS AT USER'S SOLE RISK AND THAT THE ENTIRE RISK AS TO SATISFACTORY QUALITY, PERFORMANCE, ACCURACY AND EFFORT IS WITH USER. TO THE MAXIMUM
            EXTENT PERMITTED BY LAW, THE SERVICES ARE PROVIDED "AS IS" AND "AS AVAILABLE" WITH ALL FAULTS AND WITHOUT WARRANTY OF ANY KIND, AND POLARITYTE HEREBY DISCLAIMS ALL WARRANTIES AND CONDITIONS WITH RESPECT TO THE SERVICES, EITHER EXPRESS, IMPLIED
            OR STATUTORY, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES AND/OR CONDITIONS OF MERCHANTABILITY, SATISFACTORY QUALITY, FITNESS FOR A PARTICULAR PURPOSE, ACCURACY, QUIET ENJOYMENT, AND NON-INFRINGEMENT OF THIRD PARTY RIGHTS. POLARITYTE
            DOES NOT WARRANT AGAINST INTERFERENCE WITH USER'S ENJOYMENT OF THE SERVICES, THAT THE FUNCTIONS CONTAINED IN OR PERFORMED BY THE SERVICES WILL MEET USER'S REQUIREMENTS, THAT THE OPERATION OF THE SERVICES WILL BE UNINTERRUPTED OR ERROR-FREE,
            THAT ANY UPDATE WILL CONTINUE TO BE MADE AVAILABLE, THAT DEFECTS IN THE SERVICES WILL BE CORRECTED, OR THAT THE SERVICES WILL BE COMPATIBLE OR WORK WITH ANY THIRD PARTY SOFTWARE, APPLICATIONS OR THIRD PARTY SERVICES. INSTALLATION OF THE SERVICES
            MAY AFFECT THE USABILITY OF THIRD PARTY SOFTWARE, APPLICATIONS OR THIRD PARTY SERVICES. USER FURTHER ACKNOWLEDGES THAT THE SERVICES ARE NOT INTENDED OR SUITABLE FOR USE IN SITUATIONS OR ENVIRONMENTS WHERE THE FAILURE OR TIME DELAY OF, OR ERRORS
            OR INACCURACIES IN, THE CONTENT, DATA OR INFORMATION PROVIDED BY THE SERVICES COULD LEAD TO DEATH, PERSONAL INJURY, OR SEVERE PHYSICAL, FINANCIAL OR ENVIRONMENTAL DAMAGE. USING THE SERVICES FOR TRADING SECURITIES IS NOT PERMITTED. NO ORAL
            OR WRITTEN INFORMATION OR ADVICE GIVEN BY POLARITYTE OR AN APPROVED REPRESENTATIVE SHALL CREATE A WARRANTY. SHOULD THE SERVICES PROVE DEFECTIVE, USER ASSUMES THE ENTIRE COST OF ALL NECESSARY SERVICING, REPAIR OR CORRECTION, IF APPLICABLE.
            SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES OR LIMITATIONS ON APPLICABLE STATUTORY RIGHTS OF A CONSUMER, SO THE ABOVE EXCLUSIONS AND LIMITATIONS MAY NOT APPLY.</p>
        <h2>LIMITATION OF LIABILITY</h2>
        <p>Except where prohibited by law, in no event will PolarityTE, its officers, shareholders, predecessors, successors in interest, directors, employees, agents, subsidiaries, affiliates, licensors and suppliers be liable for any indirect, special,
            punitive, incidental, exemplary or consequential damages even if PolarityTE has been advised of the possibility of such damages or any direct damages that result from: (1) the use of, or inability to use, the Services; (2) the performance
            of the Services; or (3) any failure in the Services. User assumes total responsibility for the use of the Services. User's only remedy against PolarityTE for dissatisfaction with the Services is to stop using the Services. If, notwithstanding
            the terms herein, PolarityTE is found liable to User for any damage or loss which arises out of or is in any way connected with User's use of the Services, PolarityTE's liability shall in no event exceed the amount paid by User to PolarityTE
            during the previous twelve (12) months. In addition to the forgoing limitations of liability, User agrees that User will not join any claim against PolarityTE with the claim of any other person or entity in a lawsuit, arbitration or other
            proceeding; that no claim User has against PolarityTE shall be resolved on a class-wide basis; and that User will not assert a claim in a representative capacity against PolarityTE on behalf of anyone else.</p>
        <h2>ATTORNEYS FEES</h2>
        <p>In the event any suit or other action is commenced to construe or enforce any provision of this EULA, the prevailing party, in addition to all other amounts such party shall be entitled to receive from the other party, shall recover its reasonable
            attorneys fees and court costs.</p>
        <h2>WAIVER</h2>
        <p>The failure of either party to enforce any rights granted hereunder or to take action against the other party in the event of any breach hereunder shall not be deemed a waiver by that party as to subsequent enforcement of rights or subsequent
            actions in the event of future breaches.</p>
        <h2>NOTICE</h2>
        <p>Any notice required or permitted to be given in accordance with this EULA shall be in writing. Notices to PolarityTE shall be sent by personal delivery, registered or certified mail (return receipt requested, postage prepaid) or commercial express
            courier (with written verification of receipt) to: PolarityTE, Inc., 1960 S 4250 W, Salt Lake City, UT 84104, U.S.A., Attention: General Counsel. For contractual purposes, User consents to receive communications from PolarityTE electronically.
            Notices sent to User shall be sent by personal delivery, electronic mail, registered or certified mail (return receipt requested, postage prepaid) or commercial express courier (with written verification of receipt) to the address listed on
            User's account. All notices will be deemed given: (i) when delivered personally; (ii) 24 hours after electronic mail is sent, unless PolarityTE is notified that</p>
        <p>the email address is invalid; (iii) five (5) days after having been sent by registered or certified mail (or ten (10) days for international mail); or (iv) one</p>
        <p>(1) day after deposit with a commercial express courier specifying next day delivery (or two (2) days for international courier packages specifying 2-day delivery). Either party may change its address for receipt of notice by notice to the other
            party in accordance with this Section.</p>
        <h2>ENTIRE AGREEMENT; MODIFICATIONS</h2>
        <p>This Agreement constitutes the entire agreement between the parties with respect to the terms and conditions governing User's use and access to the Services. This Agreement supersedes and cancels all previous written and previous or contemporaneous
            oral communications, proposals, representations, and agreements relating to the subject matter contained herein. This Agreement prevails over any pre-printed, conflicting or additional terms of any purchase order, ordering document, acknowledgement
            or confirmation or other document issued by User. This Agreement may be modified by a "click wrap" or "click accept" agreement that PolarityTE incorporates into or as a condition of downloading Services after initial delivery. Except as expressly
            provided herein (e.g., with respect to the Privacy Principles), this Agreement may be amended, or any term or condition set forth herein waived, only by a writing hand signed by both parties.</p>
        <h2>EQUITABLE RELIEF</h2>
        <p>The parties agree that a material breach of this EULA adversely affecting PolarityTE's intellectual property rights in the Services or the Confidential Information may cause irreparable injury to PolarityTE for which monetary damages would not
            be an adequate remedy and PolarityTE shall be entitled to equitable relief (without a requirement to post a bond) in addition to any remedies it may have hereunder or at law.</p>
        <h2>ASSIGNMENT</h2>
        <p>This EULA may not be assigned or transferred, in whole or in part, without the other party's prior written consent, provided that PolarityTE expressly reserves the right to assign this EULA in its entirety to a successor in interest of all or
            substantially all of its business or assets. Any action or conduct in violation of the foregoing shall be void and without effect. Subject to the foregoing, all rights and obligations of the parties hereunder shall be binding upon and inure
            to the benefit of and be enforceable by and against the successors and permitted assigns. PolarityTE may delegate any of its obligations hereunder, provided that it shall remain fully liable and responsible for its delegates' actions or inactions
            in violation of this EULA.</p>
        <h2>CONTROLLING LAW AND SEVERABILITY</h2>
        <p>This EULA and all matters arising out of or relating to this EULA shall be governed by and construed in accordance with the laws of the State of Utah, without regard to any conflict of law provisions. Each party irrevocably agrees that any claim
            brought by it in any way arising out of this EULA must be brought solely and exclusively in state or federal court located in Salt Lake City, Utah, and each party irrevocably accepts and submits to the sole and exclusive jurisdiction of each
            of the aforesaid courts in personam, generally and unconditionally, with respect to any action, suit, or proceeding brought by it or against it by the other party.</p>
        <p>In the event any one or more of the terms or provisions contained in this EULA shall be declared by a court of competent jurisdiction to be invalid, illegal or unenforceable in any respect, the validity, legality and enforceability of the remaining
            provisions of this EULA or any application thereof shall not in any way be affected or impaired, except that, in such an event, this EULA shall be deemed revised in order to provide the party adversely affected by such declaration with the
            benefit of its expectation, evidenced by the provision(s) affected by such a declaration, to the maximum extent legally permitted.</p>
        <h2>FORCE MAJEURE</h2>
        <p>PolarityTE shall not be liable to the other for failure to perform if said failure results, directly or indirectly, from government action or inaction, mechanical or electrical breakdown, or natural disaster. In the event PolarityTE excuses its
            performance of any of its requirements or otherwise invokes the Force Majeure, the payment provisions in any User Agreement shall be suspended for an equal period of time. If either party is affected by an interruption or delay contemplated
            by this section, it will: (a) promptly provide notice to the other party, explaining the full particulars and the expected duration of the such delay and (b) use its best efforts to remedy the interruption or delay if it is reasonably capable
            of being remedied.</p>
    </div>
    <div class="container">
        <br><a href="./assets/rtaApp-assets/eula/eula.pdf" target="_blank" class="btn download-app-pdf">Download PDF</a> </div>
</div>
<div class="tri-color">
    <div></div>
    <div></div>
    <div></div>
</div>