<app-header></app-header>
<div id="page-banner" style="background: url(../assets/platform-assets/platform.png);background-repeat: no-repeat;background-size: cover;background-position: 50% 60%;">
    <div class="vertical-align">
        <div class="wrapper text">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="bounceInUp">Email Alerts</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="email-alerts">
    <p>Please fill out the form below to receive company press releases via email when they occur.</p>
    <div id="EmailDiv"></div>
    <p>We respect your privacy. We do not sell, rent, or loan any information to any third party. <br>Any information you give us is held with the utmost care and security, and will be used only in ways to which you have consented. </p>
</div>

<app-footer></app-footer>