#page-banner .vertical-align {
    height: 450px
}

#page-banner {
    border-bottom: 33px solid #000;
    position: relative;
    overflow: hidden;
    z-index: 0
}

#page-banner .text {
    text-align: center;
    padding: 32px 0
}

.vertical-align>.wrapper {
    display: table-cell;
    vertical-align: middle;
    width: 100%
}

.vertical-align {
    display: table;
    width: 100%;
    table-layout: fixed
}

#page-banner h2 {
    color: #fff;
    text-align: center;
    font-size: 50px
}

p {
    margin: 20px 0 36px;
    color: #000
}

h2,
h2 a {
    line-height: 1.2;
    font-weight: 300;
    text-transform: none
}

h2,
h3 {
    margin: 0;
    text-shadow: 1px 1px grey
}

h4,
h4 a,
h4 a:hover {
    color: #0070c9;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px
}

form,
h5 {
    font-weight: 500;
    color: #4b4b4b;
    display: block
}

form {
    font-size: 20px
}

label {
    font-size: 16px;
    font-weight: 400;
    color: #4b4b4b;
    display: block
}

@media screen and (max-width:1200px) {
    #page-banner .vertical-align {
        height: 200px
    }
}

.button:hover {
    background: #000;
    color: #fff;
    box-shadow: none
}

.button {
    min-width: 196px;
    border-radius: 1000px;
    background: #017eda;
    border: 2px solid #FFF;
    letter-spacing: .03em;
    text-transform: uppercase;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    color: #fff
}

.container {
    padding: 2%
}