h2,
p {
    margin: 0 0 20px
}

.active-link {
    color: #0070c9
}

.stick {
    position: fixed;
    top: 0
}

.active-link::after,
.active-link:active::after,
.active-link:focus::after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    max-width: 80%;
    height: 3px;
    background: #017eda;
    width: 100%
}

#page-banner .vertical-align {
    height: 400px
}

#page-banner {
    border-bottom: 33px solid #000;
    position: relative;
    overflow: hidden;
    z-index: 0
}

#page-banner .text {
    text-align: center;
    padding: 32px 0
}

.vertical-align>.wrapper {
    display: table-cell;
    vertical-align: middle;
    width: 100%
}

.vertical-align {
    display: table;
    width: 100%;
    table-layout: fixed
}

p {
    font-size: 16px;
    color: #fff
}

#page-banner h2 {
    color: #fff;
    text-align: center;
    font-size: 50px
}

h2,
h2 a {
    line-height: 1.2;
    font-weight: 300;
    text-transform: none
}

@media screen and (max-width:1199px) {
    #page-banner .vertical-align {
        height: 200px
    }
}