<app-header></app-header>
<div sticky class="sub-navigation ir-navigation">
 
        <nav class="collapse sb-nav clearfix" id="sub-navigation">
            <h3 class="hidden-sm hidden-xs"> <a routerLink="/news-media/in-the-news">News & Media</a> </h3>
            <ul>
                <li> <a routerLink="/news-media/in-the-news" routerLinkActive="active-link">In the News</a> </li>
                <li> <a routerLink="/news-media/press-releases" routerLinkActive="active-link">Press Releases</a> </li>
                <li> <a routerLink="/news-media/events" routerLinkActive="active-link">Events</a> </li>
                <li> <a routerLink="/news-media/scientific-communications" routerLinkActive="active-link">Scientific Communications</a> </li>
            </ul>
        </nav>
   
</div>
<div id="page-banner" style="background: url(./assets/news-events-assets/PressRelease.png);background-repeat: no-repeat;background-size: cover;">
    <div class="vertical-align">
        <div class="wrapper text">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="bounceInUp">Press Releases</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main" style="background: #141417;">
    <div class="container">
        <div class="row">
            <div class="newsroom">
                <div id="LibDiv"></div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>