<div class="tri-color">
    <div></div>
    <div></div>
    <div></div>
</div>
<div class="header">
    <div class="container">
        <h1>Harvest Overview</h1>
        <div class="app-logo"><img src="./assets/rtaApp-assets/product-manual/applogo.png" alt=""></div>
        <div class="clear"></div>
    </div>
</div>
<div class="main-content">
    <div class="module-slider">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Quick Reference Overview For Harvest Box</h2>
                    <p>This guide is not a substitute for the SkinTE™ Instructions for Use. Providers must carefully review the complete SkinTE Instructions for Use prior to harvest.</p>
                </div>
            </div>
            <div id="myCarousel" class="carousel slide" data-interval="false">
                <a class="cta previous-step" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-menu-left"></span>
                                PREVIOUS STEP</a>
                <a class="cta next-step" href="#myCarousel" data-slide="next">NEXT STEP <span class="glyphicon glyphicon-menu-right"></span></a>
                <div class="carousel-inner">
                    <div class="item active">

                        <div class="step">
                            <div class="instruction">
                                <h3>Open the All-In-One Harvest Box and Ensure All Contents are Intact</h3>
                            </div>
                            <div class="step-images">
                                <div>
                                    <img src="./assets/rtaApp-assets/harvest/harvest-box/image01.jpg" alt="Open the All-In-One Harvest Box and Ensure All Contents are Intact">
                                </div>
                                <div>
                                    <img src="./assets/rtaApp-assets/harvest/harvest-box/image02.jpg" alt="Open the All-In-One Harvest Box and Ensure All Contents are Intact">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">

                        <div class="step">
                            <div class="instruction">
                                <h3>Obtain Full-Thickness Skin Graft with Fat</h3>
                            </div>
                            <div class="step-images">
                                <div>
                                    <img src="./assets/rtaApp-assets/harvest/harvest-box/image11.jpg" alt="Obtain Full-Thickness Skin Graft with Fat">
                                </div>
                                <div>
                                    <img src="./assets/rtaApp-assets/harvest/harvest-box/image12.jpg" alt="Obtain Full-Thickness Skin Graft with Fat">
                                </div>
                                <div>
                                    <img src="./assets/rtaApp-assets/harvest/harvest-box/image13.jpg" alt="Obtain Full-Thickness Skin Graft with Fat">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">

                        <div class="step">
                            <div class="instruction">
                                <h3>Place Specimen in Sterile Cup, Add Crystalloid Solution and Add Antibiotic</h3>
                            </div>
                            <div class="step-images">
                                <div>
                                    <img src="./assets/rtaApp-assets/harvest/harvest-box/image21.jpg" alt="Place Specimen in Sterile Cup, Add Crystalloid Solution and Add Antibiotic">
                                </div>
                                <div>
                                    <img src="./assets/rtaApp-assets/harvest/harvest-box/image22.jpg" alt="Place Specimen in Sterile Cup, Add Crystalloid Solution and Add Antibiotic">
                                </div>
                                <div>
                                    <img src="./assets/rtaApp-assets/harvest/harvest-box/image23.jpg" alt="Place Specimen in Sterile Cup, Add Crystalloid Solution and Add Antibiotic">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">

                        <div class="step">
                            <div class="instruction">
                                <h3>Place Sterile Cup (with Absorbent Pad) in Dual Bag System, Remove Excess Air and Seal</h3>
                            </div>
                            <div class="step-images">
                                <div>
                                    <img src="./assets/rtaApp-assets/harvest/harvest-box/image31.jpg" alt="Place Sterile Cup (with Absorbent Pad) in Dual Bag System, Remove Excess Air and Seal">
                                </div>
                                <div>
                                    <img src="./assets/rtaApp-assets/harvest/harvest-box/image32.jpg" alt="Place Sterile Cup (with Absorbent Pad) in Dual Bag System, Remove Excess Air and Seal">
                                </div>
                                <div>
                                    <img src="./assets/rtaApp-assets/harvest/harvest-box/image33.jpg" alt="Place Sterile Cup (with Absorbent Pad) in Dual Bag System, Remove Excess Air and Seal">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">

                        <div class="step">
                            <div class="instruction">
                                <h3>Place Specimen, Activate the NanoCool® Lid and Start the Temperature Tracking System</h3>
                            </div>
                            <div class="step-images">
                                <div>
                                    <img src="./assets/rtaApp-assets/harvest/harvest-box/image41.jpg" alt="Place Specimen, Activate the NanoCool® Lid and Start the Temperature Tracking System">
                                </div>
                                <div>
                                    <img src="./assets/rtaApp-assets/harvest/harvest-box/image42.jpg" alt="Place Specimen, Activate the NanoCool® Lid and Start the Temperature Tracking System">
                                </div>
                                <div>
                                    <img src="./assets/rtaApp-assets/harvest/harvest-box/image43.jpg" alt="Place Specimen, Activate the NanoCool® Lid and Start the Temperature Tracking System">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">

                        <div class="step">
                            <div class="instruction">
                                <h3>Place NanoCool® lid, Complete the Patient/Defect Information and Add Patient Sticker as Indicated. </h3>
                            </div>
                            <div class="step-images">
                                <div>
                                    <img src="./assets/rtaApp-assets/harvest/harvest-box/image51.png" alt="Place NanoCool® lid, Complete the Patient/Defect Information and Add Patient Sticker as Indicated. ">
                                </div>
                                <div>
                                    <img src="./assets/rtaApp-assets/harvest/harvest-box/image52.png" alt="Place NanoCool® lid, Complete the Patient/Defect Information and Add Patient Sticker as Indicated. ">
                                </div>
                                <div>
                                    <img src="./assets/rtaApp-assets/harvest/harvest-box/image53.png" alt="Place NanoCool® lid, Complete the Patient/Defect Information and Add Patient Sticker as Indicated. ">
                                </div>
                                <div>
                                    <img src="./assets/rtaApp-assets/harvest/harvest-box/image54.png" alt="Place NanoCool® lid, Complete the Patient/Defect Information and Add Patient Sticker as Indicated. ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="cta previous-step" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-menu-left"></span>
                        PREVIOUS STEP</a>
                <a class="cta next-step" href="#myCarousel" data-slide="next">NEXT STEP <span class="glyphicon glyphicon-menu-right"></span></a>
            </div>

        </div>
    </div>

    <div class="module-slider">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Quick reference guide for using the form submission feature of the RTA Application. </h2>
                </div>
            </div>

            <div id="myCarousel-2" class="carousel slide" data-interval="false">
                <a class="cta previous-step" href="#myCarousel-2" data-slide="prev"><span class="glyphicon glyphicon-menu-left"></span>
                                PREVIOUS STEP</a>
                <a class="cta next-step" href="#myCarousel-2" data-slide="next">NEXT STEP <span class="glyphicon glyphicon-menu-right"></span></a>
                <div class="carousel-inner">
                    <div class="item active">

                        <div class="step">
                            <div class="instruction">
                                <h3>Log in to RTA account</h3>
                            </div>
                            <div class="step-images">
                                <div>
                                    <img src="./assets/rtaApp-assets/harvest/form-submission/image1.jpg" alt="Log in to RTA account">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">

                        <div class="step">
                            <div class="instruction">
                                <h3>Click Services tab</h3>
                            </div>
                            <div class="step-images">
                                <div>
                                    <img src="./assets/rtaApp-assets/harvest/form-submission/image2.jpg" alt="Click Services tab">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">

                        <div class="step">
                            <div class="instruction">
                                <h3>Click Form Submission button</h3>
                            </div>
                            <div class="step-images">
                                <div>
                                    <img src="./assets/rtaApp-assets/harvest/form-submission/image3.jpg" alt="Click Form Submission button">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">

                        <div class="step">
                            <div class="instruction">
                                <h3>Center the form in viewport and take photo</h3>
                            </div>
                            <div class="step-images">
                                <div>
                                    <img src="./assets/rtaApp-assets/harvest/form-submission/image4.jpg" alt="Center the form in viewport and take photo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">

                        <div class="step">
                            <div class="instruction">
                                <h3>If photo preview is acceptable, then select Use Photo</h3>
                            </div>
                            <div class="step-images">
                                <div>
                                    <img src="./assets/rtaApp-assets/harvest/form-submission/image5.jpg" alt="If photo preview is acceptable, then select Use Photo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">

                        <div class="step">
                            <div class="instruction">
                                <h3>Send confirmation will appear once form is uploaded</h3>
                            </div>
                            <div class="step-images">
                                <div>
                                    <img src="./assets/rtaApp-assets/harvest/form-submission/image6.jpg" alt="Send confirmation will appear once form is uploaded">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <a class="cta previous-step" href="#myCarousel-2" data-slide="prev"><span class="glyphicon glyphicon-menu-left"></span>
                        PREVIOUS STEP</a>
                <a class="cta next-step" href="#myCarousel-2" data-slide="next">NEXT STEP <span class="glyphicon glyphicon-menu-right"></span></a>
            </div>

        </div>
    </div>

    <div class="container">
        <br><a href="./assets/rtaApp-assets/harvest/overview_harvestProcess.pdf" target="_blank" class="btn download-app-pdf">Download PDF</a> </div>
</div>
<div class="tri-color">
    <div></div>
    <div></div>
    <div></div>
</div>