<div class="tri-color">
    <div></div>
    <div></div>
    <div></div>
</div>
<div class="header">
    <div class="container">
        <h1>Exceptional Release Form</h1>
        <div class="app-logo"><img src="./assets/rtaApp-assets/product-manual/applogo.png" alt=""></div>
        <div class="clear"></div>
    </div>
</div>
<div class="main-content">
    <div class="container">

        <h2>Exceptional Release of PolarityTE™ Human Autologous SkinTE™</h2>
        <p>Exceptional release is the dispensing of tissue because of emergent or unusual clinical need that circumvents normal release procedures, and requires release by the manufacturer's QA and by the end-user provider. <strong>A
          PolarityTE Specialist has reviewed the processing records available and has approved this tissue for
          exceptional release.</strong></p>
        <p><b>* If you have any questions, please read further on Exceptional Release using the RTA Application or call a
          PolarityTE Specialist at: 1-800-743-2302.</b></p>
        <p style="text-align: center;"><img src="./assets/rtaApp-assets/ER/erf.png" alt="" width="90%"></p>
    </div>
    <div class="module-slider">
        <div class="container">
            <div class="row">
                <div class="col-sm-12" style="text-align:left">
                    <h2>Quick reference guide for using the form submission feature of The RTA Application. </h2>
                </div>
            </div>

            <div id="myCarousel-2" class="carousel slide" data-interval="false">
                <a class="cta previous-step" href="#myCarousel-2" data-slide="prev"><span class="glyphicon glyphicon-menu-left"></span>
            PREVIOUS STEP</a>
                <a class="cta next-step" href="#myCarousel-2" data-slide="next">NEXT STEP <span class="glyphicon glyphicon-menu-right"></span></a>
                <div class="carousel-inner">
                    <div class="item active">

                        <div class="step">
                            <div class="instruction">
                                <h3>Log in to RTA account</h3>
                            </div>
                            <div class="step-images">
                                <div>
                                    <img src="./assets/rtaApp-assets/harvest/form-submission/image1.jpg" alt="Log in to RTA account">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">

                        <div class="step">
                            <div class="instruction">
                                <h3>Click Services tab</h3>
                            </div>
                            <div class="step-images">
                                <div>
                                    <img src="./assets/rtaApp-assets/harvest/form-submission/image2.jpg" alt="Click Services tab">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">

                        <div class="step">
                            <div class="instruction">
                                <h3>Click Form Submission button</h3>
                            </div>
                            <div class="step-images">
                                <div>
                                    <img src="./assets/rtaApp-assets/harvest/form-submission/image3.jpg" alt="Click Form Submission button">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">

                        <div class="step">
                            <div class="instruction">
                                <h3>Center the form in viewport and take photo</h3>
                            </div>
                            <div class="step-images">
                                <div>
                                    <img src="./assets/rtaApp-assets/harvest/form-submission/image4.jpg" alt="Center the form in viewport and take photo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">

                        <div class="step">
                            <div class="instruction">
                                <h3>If photo preview is acceptable, then select Use Photo</h3>
                            </div>
                            <div class="step-images">
                                <div>
                                    <img src="./assets/rtaApp-assets/harvest/form-submission/image5.jpg" alt="If photo preview is acceptable, then select Use Photo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">

                        <div class="step">
                            <div class="instruction">
                                <h3>Click OK on confirmation screen to exit service</h3>
                            </div>
                            <div class="step-images">
                                <div>
                                    <img src="./assets/rtaApp-assets/harvest/form-submission/image6.jpg" alt="Click OK on confirmation screen to exit service">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <a class="cta previous-step" href="#myCarousel-2" data-slide="prev"><span class="glyphicon glyphicon-menu-left"></span>
            PREVIOUS STEP</a>
                <a class="cta next-step" href="#myCarousel-2" data-slide="next">NEXT STEP <span class="glyphicon glyphicon-menu-right"></span></a>
            </div>

        </div>
    </div>

    <div class="container">
        <br><a href="./assets/rtaApp-assets/ER/exceptionalReleaseForm.pdf" target="_blank" class="btn download-app-pdf">Download
        PDF</a> </div>
</div>
<div class="tri-color">
    <div></div>
    <div></div>
    <div></div>
</div>